
.date_date {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 326px;
	background : rgba(242.00000077486038,242.00000077486038,242.00000077486038,1);
}
.date_date .default {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 135px;
	height: 21px;
	background : rgba(255,255,255,1);
	mix-blend-mode: normal;
	border: 1px solid rgba(208.0000028014183,209.00000274181366,208.0000028014183,1);
	box-sizing: border-box;
}
.date_date .default .InFocus {
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background : rgba(255,255,255,0.009999999776482582);
	border: 4px solid rgba(48.000000938773155,131.00000739097595,251.00000023841858,1);
}
.date_date .default .ddmmyyyy {
	position: absolute;
	left: 4px;
	top: 4px;
	width: 83px;
	height: 12px;
	color : rgba(1.0000000591389835,30.00000011175871,37.00000159442425,1);
	font-family: SFProText;
	font-size: 10px;
	font-weight: 600;
	line-height: 11.71875px;
}
.date_date .hover {
	position: absolute;
	left: 20px;
	top: 61px;
	width: 135px;
	height: 21px;
	background : rgba(255,255,255,1);
	mix-blend-mode: normal;
}
.date_date .hover .Arrow {
	position: absolute;
	left: 121px;
	top: 7px;
	width: 7.0966796875px;
	height: 7px;
}
.date_date .hover .ClearIcon {
	position: absolute;
	left: 91px;
	top: 5px;
	width: 11px;
	height: 11px;
	mix-blend-mode: normal;
}
.date_date .hover .ClearIcon .CombinedShape {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 11px;
	height: 11px;
}
.date_date .hover .Increment {
	position: absolute;
	left: 106px;
	top: 4px;
	width: 9px;
	height: 14px;
}
.date_date .hover .Increment .increment {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 9px;
	height: 14px;
}
.date_date .hover .Increment .increment .Rectangle16 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 9px;
	height: 14px;
	background : rgba(255,255,255,1);
	border-radius: 4.5px;
	border: 1px solid rgba(214.00000244379044,214.00000244379044,214.00000244379044,1);
	box-sizing: border-box;
}
.date_date .hover .Increment .increment .CombinedShape_1 {
	position: absolute;
	left: 2.3701171875px;
	top: 2.5px;
	width: 4.259765625px;
	height: 3.0240936279296875px;
}
.date_date .hover .Increment .increment .CombinedShape_2 {
	position: absolute;
	left: 2.33251953125px;
	top: 8.479995727539062px;
	width: 4.287841796875px;
	height: 3.0176239013671875px;
}
.date_date .hover .InFocus_1 {
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background : rgba(255,255,255,0.009999999776482582);
	border: 4px solid rgba(48.000000938773155,131.00000739097595,251.00000023841858,1);
}
.date_date .hover .ddmmyyyy_1 {
	position: absolute;
	left: 4px;
	top: 4px;
	width: 83px;
	height: 12px;
	color : rgba(1.0000000591389835,30.00000011175871,37.00000159442425,1);
	font-family: SFProText;
	font-size: 10px;
	font-weight: 600;
	line-height: 11.71875px;
}
.date_date .open {
	position: absolute;
	left: 20px;
	top: 102px;
	width: 135px;
	height: 21px;
	background : rgba(255,255,255,1);
	mix-blend-mode: normal;
	border: 1px solid rgba(208.0000028014183,209.00000274181366,208.0000028014183,1);
	box-sizing: border-box;
}
.date_date .open .datehover {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.date_date .open .datehover .Arrow_1 {
	position: absolute;
	left: 121px;
	top: 7px;
	width: 7.0966796875px;
	height: 7px;
}
.date_date .open .datehover .ClearIcon_1 {
	position: absolute;
	left: 91px;
	top: 5px;
	width: 11px;
	height: 11px;
	mix-blend-mode: normal;
}
.date_date .open .datehover .ClearIcon_1 .CombinedShape_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 11px;
	height: 11px;
}
.date_date .open .datehover .Increment_1 {
	position: absolute;
	left: 106px;
	top: 4px;
	width: 9px;
	height: 14px;
}
.date_date .open .datehover .Increment_1 .increment_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 9px;
	height: 14px;
}
.date_date .open .datehover .Increment_1 .increment_1 .Rectangle16_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 9px;
	height: 14px;
	background : rgba(255,255,255,1);
	border-radius: 4.5px;
	border: 1px solid rgba(214.00000244379044,214.00000244379044,214.00000244379044,1);
	box-sizing: border-box;
}
.date_date .open .datehover .Increment_1 .increment_1 .CombinedShape_4 {
	position: absolute;
	left: 2.3701171875px;
	top: 2.5px;
	width: 4.259765625px;
	height: 3.02410888671875px;
}
.date_date .open .datehover .Increment_1 .increment_1 .CombinedShape_5 {
	position: absolute;
	left: 2.33251953125px;
	top: 8.480010986328125px;
	width: 4.287841796875px;
	height: 3.017608642578125px;
}
.date_date .open .datehover .InFocus_2 {
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background : rgba(255,255,255,0.009999999776482582);
	border: 4px solid rgba(48.000000938773155,131.00000739097595,251.00000023841858,1);
}
.date_date .open .datehover .yyyyhover {
	visibility: hidden;
	position: absolute;
	left: 47px;
	top: 3px;
	width: 26px;
	height: 15px;
	background : rgba(64.00000378489494,148.000006377697,254.00000005960464,1);
	mix-blend-mode: normal;
}
.date_date .open .datehover .mmhover {
	visibility: hidden;
	position: absolute;
	left: 23px;
	top: 3px;
	width: 19px;
	height: 15px;
	background : rgba(64.00000378489494,148.000006377697,254.00000005960464,1);
	mix-blend-mode: normal;
}
.date_date .open .datehover .ddhover {
	position: absolute;
	left: 4px;
	top: 3px;
	width: 14px;
	height: 15px;
	background : rgba(64.00000378489494,148.000006377697,254.00000005960464,1);
	mix-blend-mode: normal;
}
.date_date .open .datehover .ddmmyyyy_2 {
	position: absolute;
	left: 4px;
	top: 4px;
	width: 83px;
	height: 12px;
	color : rgba(1.0000000591389835,30.00000011175871,37.00000159442425,1);
	font-family: SFProText;
	font-size: 10px;
	font-weight: 600;
	line-height: 11.71875px;
}
.date_date .open .OpenCalender {
	position: absolute;
	left: -1px;
	top: 21px;
	width: 262px;
	height: 183px;
	background : rgba(255,255,255,1);
	border-radius: 2px;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender {
	position: absolute;
	left: 12px;
	top: 46px;
	width: 238px;
	height: 125px;
}
.date_date .open .OpenCalender .Calender .Header {
	position: absolute;
	left: 0px;
	top: -1px;
	width: 238px;
	height: 25px;
}
.date_date .open .OpenCalender .Calender .Header .TitleRow {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	background : rgba(245.00000059604645,245.00000059604645,245.00000059604645,1);
}
.date_date .open .OpenCalender .Calender .Header .TitleRow .Mon {
	position: absolute;
	left: 0px;
	top: 5px;
	width: 100%;
	height: 64%;
	color : rgba(1.0000000591389835,30.00000011175871,37.00000159442425,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Header .TitleRow_1 {
	position: absolute;
	left: 34px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	background : rgba(245.00000059604645,245.00000059604645,245.00000059604645,1);
}
.date_date .open .OpenCalender .Calender .Header .TitleRow_1 .Mon_1 {
	position: absolute;
	left: 0px;
	top: 5px;
	width: 100%;
	height: 64%;
	color : rgba(1.0000000591389835,30.00000011175871,37.00000159442425,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Header .TitleRow_2 {
	position: absolute;
	left: 68px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	background : rgba(245.00000059604645,245.00000059604645,245.00000059604645,1);
}
.date_date .open .OpenCalender .Calender .Header .TitleRow_2 .Mon_2 {
	position: absolute;
	left: 0px;
	top: 5px;
	width: 100%;
	height: 64%;
	color : rgba(1.0000000591389835,30.00000011175871,37.00000159442425,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Header .TitleRow_3 {
	position: absolute;
	left: 102px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	background : rgba(245.00000059604645,245.00000059604645,245.00000059604645,1);
}
.date_date .open .OpenCalender .Calender .Header .TitleRow_3 .Mon_3 {
	position: absolute;
	left: 0px;
	top: 5px;
	width: 100%;
	height: 64%;
	color : rgba(1.0000000591389835,30.00000011175871,37.00000159442425,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Header .TitleRow_4 {
	position: absolute;
	left: 136px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	background : rgba(245.00000059604645,245.00000059604645,245.00000059604645,1);
}
.date_date .open .OpenCalender .Calender .Header .TitleRow_4 .Mon_4 {
	position: absolute;
	left: 0px;
	top: 5px;
	width: 100%;
	height: 64%;
	color : rgba(1.0000000591389835,30.00000011175871,37.00000159442425,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Header .TitleRow_5 {
	position: absolute;
	left: 170px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	background : rgba(245.00000059604645,245.00000059604645,245.00000059604645,1);
}
.date_date .open .OpenCalender .Calender .Header .TitleRow_5 .Mon_5 {
	position: absolute;
	left: 0px;
	top: 5px;
	width: 100%;
	height: 64%;
	color : rgba(1.0000000591389835,30.00000011175871,37.00000159442425,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Header .TitleRow_6 {
	position: absolute;
	left: 204px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	background : rgba(245.00000059604645,245.00000059604645,245.00000059604645,1);
}
.date_date .open .OpenCalender .Calender .Header .TitleRow_6 .Mon_6 {
	position: absolute;
	left: 0px;
	top: 5px;
	width: 100%;
	height: 64%;
	color : rgba(1.0000000591389835,30.00000011175871,37.00000159442425,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row {
	position: absolute;
	left: 0px;
	top: 24px;
	width: 238px;
	height: 20px;
}
.date_date .open .OpenCalender .Calender .Row .Day {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row .Day ._29 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,0.30000001192092896);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row .Day_1 {
	position: absolute;
	left: 34px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row .Day_1 ._29_1 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,0.30000001192092896);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row .Day_2 {
	position: absolute;
	left: 68px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row .Day_2 ._29_2 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,0.30000001192092896);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row .Day_3 {
	position: absolute;
	left: 102px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row .Day_3 ._29_3 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row .Day_4 {
	position: absolute;
	left: 136px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row .Day_4 ._29_4 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row .Day_5 {
	position: absolute;
	left: 170px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row .Day_5 ._29_5 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row .Day_6 {
	position: absolute;
	left: 204px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row .Day_6 ._29_6 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row_1 {
	position: absolute;
	left: 0px;
	top: 44px;
	width: 238px;
	height: 20px;
}
.date_date .open .OpenCalender .Calender .Row_1 .Day_7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row_1 .Day_7 ._29_7 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row_1 .Day_8 {
	position: absolute;
	left: 34px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row_1 .Day_8 ._29_8 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row_1 .Day_9 {
	position: absolute;
	left: 68px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row_1 .Day_9 ._29_9 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row_1 .Today {
	position: absolute;
	left: 102px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	background : rgba(64.00000378489494,148.000006377697,254.00000005960464,0.4000000059604645);
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row_1 .Today ._29_10 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row_1 .Day_10 {
	position: absolute;
	left: 136px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row_1 .Day_10 ._29_11 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row_1 .Day_11 {
	position: absolute;
	left: 170px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row_1 .Day_11 ._29_12 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row_1 .Day_12 {
	position: absolute;
	left: 204px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row_1 .Day_12 ._29_13 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row_2 {
	position: absolute;
	left: 0px;
	top: 64px;
	width: 238px;
	height: 20px;
}
.date_date .open .OpenCalender .Calender .Row_2 .Day_13 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row_2 .Day_13 ._29_14 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row_2 .Day_14 {
	position: absolute;
	left: 34px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row_2 .Day_14 ._29_15 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row_2 .Day_15 {
	position: absolute;
	left: 68px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row_2 .Day_15 ._29_16 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row_2 .Day_16 {
	position: absolute;
	left: 102px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row_2 .Day_16 ._29_17 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row_2 .Day_17 {
	position: absolute;
	left: 136px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row_2 .Day_17 ._29_18 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row_2 .Day_18 {
	position: absolute;
	left: 170px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row_2 .Day_18 ._29_19 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row_2 .Day_19 {
	position: absolute;
	left: 204px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row_2 .Day_19 ._29_20 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row_3 {
	position: absolute;
	left: 0px;
	top: 84px;
	width: 238px;
	height: 20px;
}
.date_date .open .OpenCalender .Calender .Row_3 .Day_20 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row_3 .Day_20 ._29_21 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row_3 .Day_21 {
	position: absolute;
	left: 34px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row_3 .Day_21 ._29_22 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row_3 .Day_22 {
	position: absolute;
	left: 68px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row_3 .Day_22 ._29_23 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row_3 .Day_23 {
	position: absolute;
	left: 102px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row_3 .Day_23 ._29_24 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row_3 .Day_24 {
	position: absolute;
	left: 136px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row_3 .Day_24 ._29_25 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row_3 .Day_25 {
	position: absolute;
	left: 170px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row_3 .Day_25 ._29_26 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row_3 .Day_26 {
	position: absolute;
	left: 204px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row_3 .Day_26 ._29_27 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row_4 {
	position: absolute;
	left: 0px;
	top: 104px;
	width: 238px;
	height: 20px;
}
.date_date .open .OpenCalender .Calender .Row_4 .Day_27 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row_4 .Day_27 ._29_28 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row_4 .Day_28 {
	position: absolute;
	left: 34px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row_4 .Day_28 ._29_29 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row_4 .Day_29 {
	position: absolute;
	left: 68px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row_4 .Day_29 ._29_30 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row_4 .Day_30 {
	position: absolute;
	left: 102px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row_4 .Day_30 ._29_31 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row_4 .Day_31 {
	position: absolute;
	left: 136px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row_4 .Day_31 ._29_32 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row_4 .Day_32 {
	position: absolute;
	left: 170px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row_4 .Day_32 ._29_33 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Calender .Row_4 .Day_33 {
	position: absolute;
	left: 204px;
	top: 0px;
	width: 14.285714285714285%;
	height: 100%;
	border: 1px solid rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Calender .Row_4 .Day_33 ._29_34 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100%;
	height: 80%;
	color : rgba(0,0,0,0.30000001192092896);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Header_1 {
	position: absolute;
	left: 17px;
	top: 11px;
	width: 234px;
	height: 24px;
}
.date_date .open .OpenCalender .Header_1 .Button {
	position: absolute;
	left: 210px;
	top: 0px;
	width: 24px;
	height: 24px;
	background: linear-gradient(0deg, rgba(222.00000196695328, 222.00000196695328, 222.00000196695328, 1), rgba(222.00000196695328, 222.00000196695328, 222.00000196695328, 1)), linear-gradient(0deg, rgba(241.00000083446503, 241.00000083446503, 241.00000083446503, 1), rgba(241.00000083446503, 241.00000083446503, 241.00000083446503, 1));
	border-radius: 1px;
	border: 1px solid rgba(182.00000435113907,182.00000435113907,182.00000435113907,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Header_1 .Button .Path4 {
	position: absolute;
	left: 10px;
	top: 9px;
	width: 4.12353515625px;
	height: 7.09674072265625px;
}
.date_date .open .OpenCalender .Header_1 .Button_1 {
	position: absolute;
	left: 182px;
	top: 0px;
	width: 24px;
	height: 24px;
	background: linear-gradient(0deg, rgba(222.00000196695328, 222.00000196695328, 222.00000196695328, 1), rgba(222.00000196695328, 222.00000196695328, 222.00000196695328, 1)), linear-gradient(0deg, rgba(241.00000083446503, 241.00000083446503, 241.00000083446503, 1), rgba(241.00000083446503, 241.00000083446503, 241.00000083446503, 1));
	border-radius: 1px;
	border: 1px solid rgba(182.00000435113907,182.00000435113907,182.00000435113907,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Header_1 .Button_1 .Oval6 {
	position: absolute;
	left: 9px;
	top: 9px;
	width: 6px;
	height: 6px;
}
.date_date .open .OpenCalender .Header_1 .Button_2 {
	position: absolute;
	left: 154px;
	top: 0px;
	width: 24px;
	height: 24px;
	background: linear-gradient(0deg, rgba(222.00000196695328, 222.00000196695328, 222.00000196695328, 1), rgba(222.00000196695328, 222.00000196695328, 222.00000196695328, 1)), linear-gradient(0deg, rgba(241.00000083446503, 241.00000083446503, 241.00000083446503, 1), rgba(241.00000083446503, 241.00000083446503, 241.00000083446503, 1));
	border-radius: 1px;
	border: 1px solid rgba(182.00000435113907,182.00000435113907,182.00000435113907,1);
	box-sizing: border-box;
}
.date_date .open .OpenCalender .Header_1 .Button_2 .Path4_1 {
	position: absolute;
	left: 10px;
	top: 9px;
	width: 4.12353515625px;
	height: 7.09674072265625px;
}
.date_date .open .OpenCalender .Header_1 .Title {
	position: absolute;
	left: 0px;
	top: 4.5px;
	width: 88px;
	height: 16px;
	display: flex;
	box-sizing: border-box;
	align-items: center;
}
.date_date .open .OpenCalender .Header_1 .Title .January2018 {
	position: relative;
	margin-right: 5px;
	width: 76px;
	height: 16px;
	color : rgba(1.0000000591389835,30.00000011175871,37.00000159442425,1);
	font-family: SFProText;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.234375px;
}
.date_date .open .OpenCalender .Header_1 .Title .Path4_2 {
	position: relative;
	margin-right: 5px;
	width: 7px;
	height: 4px;
}