
.Doaes_Doaes {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 1264.6005859375px;
	background : rgba(255,255,255,1);
}
.Doaes_Doaes .Alltickets {
	position: absolute;
	left: 47px;
	top: 382px;
	width: 1046px;
	height: 686px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhigh {
	position: absolute;
	left: -9.59765625px;
	top: 82.845703125px;
	width: 1043px;
	height: 92px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhigh .dividerlinehorizontal {
	position: absolute;
	left: 0px;
	top: 92px;
	width: 1043px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhigh .dividerlinehorizontal .divider {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1043px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhigh .dividerlinehorizontal_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1043px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhigh .dividerlinehorizontal_1 .divider_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1043px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .cardsdefault {
	position: absolute;
	left: 14.5078125px;
	top: 14.886474609375px;
	width: 1045px;
	height: 617.300048828125px;
}
.Doaes_Doaes .Alltickets .cardsdefault .sheet {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1045px;
	height: 616.999755859375px;
	background : rgba(255,255,255,1);
	border-radius: 8px;
	border: 1px solid rgba(223.00000190734863,224.000001847744,235.0000011920929,1);
	box-sizing: border-box;
}
.Doaes_Doaes .Alltickets .cardsdefault .Voluntrio {
	position: absolute;
	left: 405.9150390625px;
	top: 20.01025390625px;
	width: 208.0537109375px;
	height: 35.322021484375px;
	color : rgba(0,0,0,0.8600000143051147);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.Doaes_Doaes .Alltickets .cardsdefault .Doador {
	position: absolute;
	left: 160.0751953125px;
	top: 19.899658203125px;
	width: 208px;
	height: 35px;
	color : rgba(0,0,0,0.8600000143051147);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.Doaes_Doaes .Alltickets .cardsdefault .ltimadoao {
	position: absolute;
	left: 640.06298828125px;
	top: 26.80908203125px;
	width: 208px;
	height: 32.999755859375px;
	color : rgba(0,0,0,0.8600000143051147);
	font-family: Baumans;
	font-size: 28px;
	font-weight: 400;
	line-height: 32.8125px;
}
.Doaes_Doaes .Alltickets .cardsdefault .Entregue {
	position: absolute;
	left: 874.0625px;
	top: 27.25244140625px;
	width: 208px;
	height: 32.999755859375px;
	color : rgba(0,0,0,0.8600000143051147);
	font-family: Baumans;
	font-size: 28px;
	font-weight: 400;
	line-height: 32.8125px;
}
.Doaes_Doaes .Alltickets .cardsdefault .sort {
	position: absolute;
	left: 12.37353515625px;
	top: 32.646728515625px;
	width: 80px;
	height: 20px;
}
.Doaes_Doaes .Alltickets .cardsdefault .sort .Ordenar {
	position: absolute;
	left: 24px;
	top: 0px;
	width: 56px;
	height: 20px;
	color : rgba(74.82306182384491,79.68022719025612,108.8232421875,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}
.Doaes_Doaes .Alltickets .cardsdefault .sort .iconsort {
	position: absolute;
	left: 0px;
	top: 1px;
	width: 16px;
	height: 16px;
}
.Doaes_Doaes .Alltickets .cardsdefault .sort .iconsort .Vector {
	position: absolute;
	left: 1px;
	top: 2px;
	width: 87.5%;
	height: 75%;
}
.Doaes_Doaes .Alltickets .cardsdefault .content {
	position: absolute;
	left: 32.13134765625px;
	top: 189.114990234375px;
	width: 981px;
	height: 44px;
}
.Doaes_Doaes .Alltickets .cardsdefault .content .iconmorevertical {
	position: absolute;
	left: 957px;
	top: 10px;
	width: 24px;
	height: 24px;
}
.Doaes_Doaes .Alltickets .cardsdefault .content .iconmorevertical .Vector_1 {
	position: absolute;
	left: 10px;
	top: 4px;
	width: 16.666666666666664%;
	height: 66.66666666666666%;
}
.Doaes_Doaes .Alltickets .cardsdefault .content .Timelabel {
	position: absolute;
	left: 651px;
	top: 26px;
	width: 140px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
.Doaes_Doaes .Alltickets .cardsdefault .content .Datelabel {
	position: absolute;
	left: 651px;
	top: 2px;
	width: 140px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}
.Doaes_Doaes .Alltickets .cardsdefault .content .Datecustomer {
	position: absolute;
	left: 403px;
	top: 26px;
	width: 208px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
.Doaes_Doaes .Alltickets .cardsdefault .content .Customername {
	position: absolute;
	left: 403px;
	top: 2px;
	width: 75px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}
.Doaes_Doaes .Alltickets .cardsdefault .content .Ticketinformation {
	position: absolute;
	left: 68px;
	top: 26px;
	width: 295px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}
.Doaes_Doaes .Alltickets .cardsdefault .content .Ticketname {
	position: absolute;
	left: 68px;
	top: 2px;
	width: 295px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
}
.Doaes_Doaes .Alltickets .cardsdefault .content .avatarman5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 44px;
	height: 44px;
}
.Doaes_Doaes .Alltickets .cardsdefault .content .avatarman5 .Ellipse {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background : rgba(196.00000351667404,196.00000351667404,196.00000351667404,1);
}
.Doaes_Doaes .Alltickets .cardsdefault .content .avatarman5 .m5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 150%;
	object-fit: cover;
	overflow: hidden;
}
.Doaes_Doaes .Alltickets .cardsdefault .tableticketprioritynormal {
	position: absolute;
	left: 2.18359375px;
	top: 527.000732421875px;
	width: 1043px;
	height: 92px;
}
.Doaes_Doaes .Alltickets .cardsdefault .tableticketprioritynormal .content_1 {
	position: absolute;
	left: 31px;
	top: 24px;
	width: 981px;
	height: 44px;
}
.Doaes_Doaes .Alltickets .cardsdefault .tableticketprioritynormal .content_1 .iconmorevertical_1 {
	position: absolute;
	left: 957px;
	top: 10px;
	width: 24px;
	height: 24px;
}
.Doaes_Doaes .Alltickets .cardsdefault .tableticketprioritynormal .content_1 .iconmorevertical_1 .Vector_2 {
	position: absolute;
	left: 10px;
	top: 4px;
	width: 16.666666666666664%;
	height: 66.66666666666666%;
}
.Doaes_Doaes .Alltickets .cardsdefault .tableticketprioritynormal .content_1 .Timelabel_1 {
	position: absolute;
	left: 651px;
	top: 26px;
	width: 140px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
.Doaes_Doaes .Alltickets .cardsdefault .tableticketprioritynormal .content_1 .Datelabel_1 {
	position: absolute;
	left: 651px;
	top: 2px;
	width: 140px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}
.Doaes_Doaes .Alltickets .cardsdefault .tableticketprioritynormal .content_1 .Datecustomer_1 {
	position: absolute;
	left: 403px;
	top: 26px;
	width: 208px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
.Doaes_Doaes .Alltickets .cardsdefault .tableticketprioritynormal .content_1 .Customername_1 {
	position: absolute;
	left: 403px;
	top: 2px;
	width: 208px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}
.Doaes_Doaes .Alltickets .cardsdefault .tableticketprioritynormal .content_1 .Ticketinformation_1 {
	position: absolute;
	left: 68px;
	top: 26px;
	width: 295px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}
.Doaes_Doaes .Alltickets .cardsdefault .tableticketprioritynormal .content_1 .Ticketname_1 {
	position: absolute;
	left: 68px;
	top: 2px;
	width: 295px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
}
.Doaes_Doaes .Alltickets .cardsdefault .tableticketprioritynormal .content_1 .avatarman4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 44px;
	height: 44px;
}
.Doaes_Doaes .Alltickets .cardsdefault .tableticketprioritynormal .content_1 .avatarman4 .Ellipse_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background : rgba(196.00000351667404,196.00000351667404,196.00000351667404,1);
}
.Doaes_Doaes .Alltickets .cardsdefault .tableticketprioritynormal .content_1 .avatarman4 .m4 {
	position: absolute;
	left: -40.33349609375px;
	top: -12.8330078125px;
	width: 266.66703657670456%;
	height: 175%;
	object-fit: cover;
	overflow: hidden;
}
.Doaes_Doaes .Alltickets .cardsdefault .tableticketprioritynormal .dividerlinehorizontal_2 {
	position: absolute;
	left: 0px;
	top: 92px;
	width: 1043px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .cardsdefault .tableticketprioritynormal .dividerlinehorizontal_2 .divider_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1043px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .cardsdefault .tableticketprioritynormal .dividerlinehorizontal_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1043px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .cardsdefault .tableticketprioritynormal .dividerlinehorizontal_3 .divider_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1043px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .cardsdefault .tableticketprioritynormal .healthiconsyesoutline {
	position: absolute;
	left: 892.30908203125px;
	top: 22.1650390625px;
	width: 48px;
	height: 48px;
}
.Doaes_Doaes .Alltickets .cardsdefault .tableticketprioritynormal .healthiconsyesoutline .Group {
	position: absolute;
	left: 4px;
	top: 4px;
	width: 83.33333333333334%;
	height: 83.33333333333334%;
}
.Doaes_Doaes .Alltickets .cardsdefault .tableticketprioritynormal .healthiconsyesoutline .Group .Vector_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Doaes_Doaes .Alltickets .cardsdefault .tableticketprioritynormal .healthiconsyesoutline .Group .Vector_4 {
	position: absolute;
	left: 9.02490234375px;
	top: 12.0009765625px;
	width: 54.937744140625%;
	height: 41.077880859375%;
}
.Doaes_Doaes .Alltickets .cardsdefault .filter {
	position: absolute;
	left: 12.99169921875px;
	top: 5.488037109375px;
	width: 59px;
	height: 20px;
}
.Doaes_Doaes .Alltickets .cardsdefault .filter .Filtro {
	position: absolute;
	left: 24px;
	top: 0px;
	width: 35px;
	height: 20px;
	color : rgba(74.82306182384491,79.68022719025612,108.8232421875,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}
.Doaes_Doaes .Alltickets .cardsdefault .filter .iconfilter {
	position: absolute;
	left: 0px;
	top: 1px;
	width: 16px;
	height: 16px;
}
.Doaes_Doaes .Alltickets .cardsdefault .filter .iconfilter .Vector_5 {
	position: absolute;
	left: 2px;
	top: 2px;
	width: 75%;
	height: 75%;
}
.Doaes_Doaes .Alltickets .cardsdefault .healthiconsyesoutline_1 {
	position: absolute;
	left: 896.49267578125px;
	top: 189.165771484375px;
	width: 48px;
	height: 48px;
}
.Doaes_Doaes .Alltickets .cardsdefault .healthiconsyesoutline_1 .Group_1 {
	position: absolute;
	left: 4px;
	top: 4px;
	width: 83.33333333333334%;
	height: 83.33333333333334%;
}
.Doaes_Doaes .Alltickets .cardsdefault .healthiconsyesoutline_1 .Group_1 .Vector_6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Doaes_Doaes .Alltickets .cardsdefault .healthiconsyesoutline_1 .Group_1 .Vector_7 {
	position: absolute;
	left: 9.02490234375px;
	top: 12.0009765625px;
	width: 54.937744140625%;
	height: 41.077880859375%;
}
.Doaes_Doaes .Alltickets .cardsdefault .Vector_8 {
	position: absolute;
	left: 906.49267578125px;
	top: 294.165771484375px;
	width: 2.5998056220095696%;
	height: 4.401096160866234%;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow {
	position: absolute;
	left: 14.00048828125px;
	top: 93.05224609375px;
	width: 1044px;
	height: 110px;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow .content_2 {
	position: absolute;
	left: 31px;
	top: 33px;
	width: 982px;
	height: 44px;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow .content_2 .iconmorevertical_2 {
	position: absolute;
	left: 958px;
	top: 10px;
	width: 24px;
	height: 24px;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow .content_2 .iconmorevertical_2 .Vector_9 {
	position: absolute;
	left: 10px;
	top: 4px;
	width: 16.666666666666664%;
	height: 66.66666666666666%;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow .content_2 .Timelabel_2 {
	position: absolute;
	left: 652px;
	top: 26px;
	width: 140px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow .content_2 .Datelabel_2 {
	position: absolute;
	left: 652px;
	top: 2px;
	width: 140px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow .content_2 .Datecustomer_2 {
	position: absolute;
	left: 404px;
	top: 26px;
	width: 208px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow .content_2 .Customername_2 {
	position: absolute;
	left: 404px;
	top: 2px;
	width: 208px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow .content_2 .Ticketinformation_2 {
	position: absolute;
	left: 68px;
	top: 26px;
	width: 296px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow .content_2 .Ticketname_2 {
	position: absolute;
	left: 68px;
	top: 2px;
	width: 296px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow .content_2 .avatarwoman5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 44px;
	height: 44px;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow .content_2 .avatarwoman5 .Ellipse_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background : rgba(196.00000351667404,196.00000351667404,196.00000351667404,1);
}
.Doaes_Doaes .Alltickets .tableticketprioritylow .content_2 .avatarwoman5 .w5 {
	position: absolute;
	left: -5.5px;
	top: -1.8330078125px;
	width: 133.33296342329547%;
	height: 200%;
	object-fit: cover;
	overflow: hidden;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow .dividerlinehorizontal_4 {
	position: absolute;
	left: -0.1083984375px;
	top: 87.994140625px;
	width: 1044px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow .dividerlinehorizontal_4 .divider_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1044px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow .dividerlinehorizontal_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1044px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow .dividerlinehorizontal_5 .divider_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1044px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow .healthiconsyesoutline_2 {
	position: absolute;
	left: 894.61376953125px;
	top: 12.1748046875px;
	width: 48px;
	height: 48px;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow .healthiconsyesoutline_2 .Group_2 {
	position: absolute;
	left: 4px;
	top: 4px;
	width: 83.33333333333334%;
	height: 83.33333333333334%;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow .healthiconsyesoutline_2 .Group_2 .Vector_10 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow .healthiconsyesoutline_2 .Group_2 .Vector_11 {
	position: absolute;
	left: 9.02490234375px;
	top: 12.0009765625px;
	width: 54.937744140625%;
	height: 41.077880859375%;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow_1 {
	position: absolute;
	left: 1px;
	top: 686px;
	width: 1044px;
	height: 92px;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow_1 .content_3 {
	position: absolute;
	left: 31px;
	top: 24px;
	width: 982px;
	height: 44px;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow_1 .content_3 .iconmorevertical_3 {
	position: absolute;
	left: 958px;
	top: 10px;
	width: 24px;
	height: 24px;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow_1 .content_3 .iconmorevertical_3 .Vector_12 {
	position: absolute;
	left: 10px;
	top: 4px;
	width: 16.666666666666664%;
	height: 66.66666666666666%;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow_1 .content_3 .chipprioritylow {
	position: absolute;
	left: 832px;
	top: 10px;
	width: 52px;
	height: 24px;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow_1 .content_3 .chipprioritylow .sheet_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 52px;
	height: 24px;
	background : rgba(254.00000005960464,196.00000351667404,0,1);
	border-radius: 100px;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow_1 .content_3 .chipprioritylow .title {
	position: absolute;
	left: 12px;
	top: 5px;
	width: 28px;
	height: 14px;
	color : rgba(255,255,255,1);
	font-family: Mulish;
	font-size: 11px;
	font-weight: 700;
	line-height: 12.890625px;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow_1 .content_3 .Timelabel_3 {
	position: absolute;
	left: 652px;
	top: 26px;
	width: 140px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow_1 .content_3 .Datelabel_3 {
	position: absolute;
	left: 652px;
	top: 2px;
	width: 140px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow_1 .content_3 .Datecustomer_3 {
	position: absolute;
	left: 404px;
	top: 26px;
	width: 208px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow_1 .content_3 .Customername_3 {
	position: absolute;
	left: 404px;
	top: 2px;
	width: 208px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow_1 .content_3 .Ticketinformation_3 {
	position: absolute;
	left: 68px;
	top: 26px;
	width: 296px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow_1 .content_3 .Ticketname_3 {
	position: absolute;
	left: 68px;
	top: 2px;
	width: 296px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow_1 .content_3 .avatarwoman6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 44px;
	height: 44px;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow_1 .content_3 .avatarwoman6 .Ellipse_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background : rgba(196.00000351667404,196.00000351667404,196.00000351667404,1);
}
.Doaes_Doaes .Alltickets .tableticketprioritylow_1 .content_3 .avatarwoman6 .w6 {
	position: absolute;
	left: -5.5px;
	top: -5.5px;
	width: 129.16703657670453%;
	height: 170.83296342329547%;
	object-fit: cover;
	overflow: hidden;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow_1 .dividerlinehorizontal_6 {
	position: absolute;
	left: 0px;
	top: 92px;
	width: 1044px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow_1 .dividerlinehorizontal_6 .divider_6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1044px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow_1 .dividerlinehorizontal_7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1044px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .tableticketprioritylow_1 .dividerlinehorizontal_7 .divider_7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1044px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhigh_1 {
	position: absolute;
	left: 17.10205078125px;
	top: 276.88720703125px;
	width: 1044px;
	height: 92px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhigh_1 .content_4 {
	position: absolute;
	left: 31px;
	top: 24px;
	width: 982px;
	height: 44px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhigh_1 .content_4 .iconmorevertical_4 {
	position: absolute;
	left: 958px;
	top: 10px;
	width: 24px;
	height: 24px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhigh_1 .content_4 .iconmorevertical_4 .Vector_13 {
	position: absolute;
	left: 10px;
	top: 4px;
	width: 16.666666666666664%;
	height: 66.66666666666666%;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhigh_1 .content_4 .Timelabel_4 {
	position: absolute;
	left: 652px;
	top: 26px;
	width: 140px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhigh_1 .content_4 .Datelabel_4 {
	position: absolute;
	left: 652px;
	top: 2px;
	width: 140px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhigh_1 .content_4 .Datecustomer_4 {
	position: absolute;
	left: 404px;
	top: 26px;
	width: 208px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhigh_1 .content_4 .Customername_4 {
	position: absolute;
	left: 404px;
	top: 2px;
	width: 208px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhigh_1 .content_4 .Ticketinformation_4 {
	position: absolute;
	left: 68px;
	top: 26px;
	width: 296px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhigh_1 .content_4 .Ticketname_4 {
	position: absolute;
	left: 68px;
	top: 2px;
	width: 296px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhigh_1 .content_4 .avatarwoman3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 44px;
	height: 44px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhigh_1 .content_4 .avatarwoman3 .Ellipse_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background : rgba(196.00000351667404,196.00000351667404,196.00000351667404,1);
}
.Doaes_Doaes .Alltickets .tableticketpriorityhigh_1 .content_4 .avatarwoman3 .w3 {
	position: absolute;
	left: -34.83349609375px;
	top: -33px;
	width: 250%;
	height: 370.83296342329544%;
	object-fit: cover;
	overflow: hidden;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhigh_1 .dividerlinehorizontal_8 {
	position: absolute;
	left: 0px;
	top: 92px;
	width: 1044px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhigh_1 .dividerlinehorizontal_8 .divider_8 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1044px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhigh_1 .dividerlinehorizontal_9 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1044px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhigh_1 .dividerlinehorizontal_9 .divider_9 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1044px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .table_bottom {
	position: absolute;
	left: 643px;
	top: 894px;
	width: 371px;
	height: 24px;
}
.Doaes_Doaes .Alltickets .table_bottom .rowsperpage {
	position: absolute;
	left: 0px;
	top: 3px;
	width: 139px;
	height: 18px;
}
.Doaes_Doaes .Alltickets .table_bottom .rowsperpage .Rowsperpage {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 106px;
	height: 18px;
	color : rgba(159.0000057220459,162.00000554323196,180.00000447034836,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Doaes_Doaes .Alltickets .table_bottom .rowsperpage ._8 {
	position: absolute;
	left: 114px;
	top: 0px;
	width: 10px;
	height: 18px;
	color : rgba(74.82306182384491,79.68022719025612,108.8232421875,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Doaes_Doaes .Alltickets .table_bottom .rowsperpage .icondropdown {
	position: absolute;
	left: 127px;
	top: 3px;
	width: 12px;
	height: 12px;
}
.Doaes_Doaes .Alltickets .table_bottom .rowsperpage .icondropdown .Vector_14 {
	position: absolute;
	left: 2.5146484375px;
	top: 4.5px;
	width: 6.96826171875px;
	height: 3.95263671875px;
}
.Doaes_Doaes .Alltickets .table_bottom .pagination {
	position: absolute;
	left: 187px;
	top: 0px;
	width: 184px;
	height: 24px;
}
.Doaes_Doaes .Alltickets .table_bottom .pagination ._18of1240 {
	position: absolute;
	left: 0px;
	top: 3px;
	width: 100px;
	height: 18px;
	color : rgba(159.0000057220459,162.00000554323196,180.00000447034836,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Doaes_Doaes .Alltickets .table_bottom .pagination .iconarrowleft {
	position: absolute;
	left: 124px;
	top: 0px;
	width: 24px;
	height: 24px;
}
.Doaes_Doaes .Alltickets .table_bottom .pagination .iconarrowleft .left {
	position: absolute;
	left: 9px;
	top: 6px;
	width: 25%;
	height: 50%;
}
.Doaes_Doaes .Alltickets .table_bottom .pagination .iconarrowright {
	position: absolute;
	left: 160px;
	top: 0px;
	width: 24px;
	height: 24px;
}
.Doaes_Doaes .Alltickets .table_bottom .pagination .iconarrowright .right {
	position: absolute;
	left: 9px;
	top: 6px;
	width: 25%;
	height: 50%;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_1 {
	position: absolute;
	left: 14.96240234375px;
	top: 366.88427734375px;
	width: 1044px;
	height: 92px;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_1 .content_5 {
	position: absolute;
	left: 31px;
	top: 24px;
	width: 982px;
	height: 44px;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_1 .content_5 .iconmorevertical_5 {
	position: absolute;
	left: 958px;
	top: 10px;
	width: 24px;
	height: 24px;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_1 .content_5 .iconmorevertical_5 .Vector_15 {
	position: absolute;
	left: 10px;
	top: 4px;
	width: 16.666666666666664%;
	height: 66.66666666666666%;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_1 .content_5 .Timelabel_5 {
	position: absolute;
	left: 652px;
	top: 26px;
	width: 140px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_1 .content_5 .Datelabel_5 {
	position: absolute;
	left: 652px;
	top: 2px;
	width: 140px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_1 .content_5 .Datecustomer_5 {
	position: absolute;
	left: 404px;
	top: 26px;
	width: 208px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_1 .content_5 .Customername_5 {
	position: absolute;
	left: 404px;
	top: 2px;
	width: 208px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_1 .content_5 .Ticketinformation_5 {
	position: absolute;
	left: 68px;
	top: 26px;
	width: 296px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_1 .content_5 .Ticketname_5 {
	position: absolute;
	left: 68px;
	top: 2px;
	width: 296px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_1 .content_5 .avatarman7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 44px;
	height: 44px;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_1 .content_5 .avatarman7 .Ellipse_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background : rgba(196.00000351667404,196.00000351667404,196.00000351667404,1);
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_1 .content_5 .avatarman7 .m7 {
	position: absolute;
	left: -23.83349609375px;
	top: -5.5px;
	width: 216.66703657670453%;
	height: 291.66703657670456%;
	object-fit: cover;
	overflow: hidden;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_1 .dividerlinehorizontal_10 {
	position: absolute;
	left: 0px;
	top: 92px;
	width: 1044px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_1 .dividerlinehorizontal_10 .divider_10 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1044px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_1 .dividerlinehorizontal_11 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1044px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_1 .dividerlinehorizontal_11 .divider_11 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1044px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_1 .Vector_16 {
	position: absolute;
	left: 908.388671875px;
	top: 27.16796875px;
	width: 2.6148302801724137%;
	height: 29.53040081521739%;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_2 {
	position: absolute;
	left: 1px;
	top: 778px;
	width: 1044px;
	height: 92px;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_2 .content_6 {
	position: absolute;
	left: 31px;
	top: 24px;
	width: 982px;
	height: 44px;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_2 .content_6 .iconmorevertical_6 {
	position: absolute;
	left: 958px;
	top: 10px;
	width: 24px;
	height: 24px;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_2 .content_6 .iconmorevertical_6 .Vector_17 {
	position: absolute;
	left: 10px;
	top: 4px;
	width: 16.666666666666664%;
	height: 66.66666666666666%;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_2 .content_6 .chipprioritynormal {
	position: absolute;
	left: 832px;
	top: 10px;
	width: 76px;
	height: 24px;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_2 .content_6 .chipprioritynormal .sheet_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 76px;
	height: 24px;
	background : rgba(41.00000135600567,204.00000303983688,151.00000619888306,1);
	border-radius: 100px;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_2 .content_6 .chipprioritynormal .title_1 {
	position: absolute;
	left: 12px;
	top: 5px;
	width: 52px;
	height: 14px;
	color : rgba(255,255,255,1);
	font-family: Mulish;
	font-size: 11px;
	font-weight: 700;
	line-height: 12.890625px;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_2 .content_6 .Timelabel_6 {
	position: absolute;
	left: 652px;
	top: 26px;
	width: 140px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_2 .content_6 .Datelabel_6 {
	position: absolute;
	left: 652px;
	top: 2px;
	width: 140px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_2 .content_6 .Datecustomer_6 {
	position: absolute;
	left: 404px;
	top: 26px;
	width: 208px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_2 .content_6 .Customername_6 {
	position: absolute;
	left: 404px;
	top: 2px;
	width: 208px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_2 .content_6 .Ticketinformation_6 {
	position: absolute;
	left: 68px;
	top: 26px;
	width: 296px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_2 .content_6 .Ticketname_6 {
	position: absolute;
	left: 68px;
	top: 2px;
	width: 296px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_2 .content_6 .avatarwoman7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 44px;
	height: 44px;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_2 .content_6 .avatarwoman7 .Ellipse_6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background : rgba(196.00000351667404,196.00000351667404,196.00000351667404,1);
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_2 .content_6 .avatarwoman7 .w7 {
	position: absolute;
	left: -1.83349609375px;
	top: -3.6669921875px;
	width: 112.5%;
	height: 158.33296342329547%;
	object-fit: cover;
	overflow: hidden;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_2 .dividerlinehorizontal_12 {
	position: absolute;
	left: 0px;
	top: 92px;
	width: 1044px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_2 .dividerlinehorizontal_12 .divider_12 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1044px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_2 .dividerlinehorizontal_13 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1044px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .tableticketprioritynormal_2 .dividerlinehorizontal_13 .divider_13 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1044px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhighhover {
	position: absolute;
	left: 16.81689453125px;
	top: 460.88720703125px;
	width: 1044px;
	height: 92px;
	background : rgba(255,255,255,1);
}
.Doaes_Doaes .Alltickets .tableticketpriorityhighhover .sheet_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1044px;
	height: 92px;
	background : rgba(55.00000052154064,81.00000277161598,255,1);
}
.Doaes_Doaes .Alltickets .tableticketpriorityhighhover .iconcursorpointinghand {
	position: absolute;
	left: 405px;
	top: 40px;
	width: 16px;
	height: 16px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhighhover .iconcursorpointinghand .Group_3 {
	position: absolute;
	left: 1px;
	top: 0.35009765625px;
	width: 14.30810546875px;
	height: 15.26806640625px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhighhover .iconcursorpointinghand .Group_3 .Fill1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhighhover .iconcursorpointinghand .Group_3 .Stroke3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhighhover .iconcursorpointinghand .Group_3 .Stroke5 {
	position: absolute;
	left: 11.1279296875px;
	top: 8.7978515625px;
	width: 6.989045490222844%;
	height: 22.655025744347437%;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhighhover .iconcursorpointinghand .Group_3 .Stroke7 {
	position: absolute;
	left: 9.09619140625px;
	top: 8.7958984375px;
	width: 6.989045490222844%;
	height: 22.747769356231412%;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhighhover .iconcursorpointinghand .Group_3 .Stroke9 {
	position: absolute;
	left: 7.1162109375px;
	top: 8.8271484375px;
	width: 6.989045490222844%;
	height: 22.437557964757428%;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhighhover .content_7 {
	position: absolute;
	left: 31px;
	top: 24px;
	width: 982px;
	height: 44px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhighhover .content_7 .iconmorevertical_7 {
	position: absolute;
	left: 958px;
	top: 10px;
	width: 24px;
	height: 24px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhighhover .content_7 .iconmorevertical_7 .Vector_18 {
	position: absolute;
	left: 10px;
	top: 4px;
	width: 16.666666666666664%;
	height: 66.66666666666666%;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhighhover .content_7 .Timelabel_7 {
	position: absolute;
	left: 652px;
	top: 26px;
	width: 140px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhighhover .content_7 .Datelabel_7 {
	position: absolute;
	left: 652px;
	top: 2px;
	width: 140px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhighhover .content_7 .Datecustomer_7 {
	position: absolute;
	left: 404px;
	top: 26px;
	width: 208px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhighhover .content_7 .Customername_7 {
	position: absolute;
	left: 404px;
	top: 2px;
	width: 208px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhighhover .content_7 .Ticketinformation_7 {
	position: absolute;
	left: 68px;
	top: 26px;
	width: 296px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhighhover .content_7 .Ticketname_7 {
	position: absolute;
	left: 68px;
	top: 2px;
	width: 296px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhighhover .content_7 .avatarman6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 44px;
	height: 44px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhighhover .content_7 .avatarman6 .Ellipse_7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background : rgba(196.00000351667404,196.00000351667404,196.00000351667404,1);
}
.Doaes_Doaes .Alltickets .tableticketpriorityhighhover .content_7 .avatarman6 .m6 {
	position: absolute;
	left: -34.83349609375px;
	top: -11px;
	width: 262.5%;
	height: 254.16703657670453%;
	object-fit: cover;
	overflow: hidden;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhighhover .dividerlinehorizontal_14 {
	position: absolute;
	left: 0px;
	top: 92px;
	width: 1120px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhighhover .dividerlinehorizontal_14 .divider_14 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1120px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhighhover .dividerlinehorizontal_15 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1120px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhighhover .dividerlinehorizontal_15 .divider_15 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1120px;
	height: 0px;
}
.Doaes_Doaes .Alltickets .tableticketpriorityhighhover .Vector_19 {
	position: absolute;
	left: 904.515625px;
	top: 21.1650390625px;
	width: 2.6148302801724137%;
	height: 29.53040081521739%;
}
.Doaes_Doaes .Juntos1 {
	position: absolute;
	left: -6.443359375px;
	top: 0px;
	width: 14.553120930989582%;
	height: 14.1593195418205%;
	object-fit: cover;
	overflow: hidden;
}
.Doaes_Doaes .Group75 {
	position: absolute;
	left: 1105.44189453125px;
	top: 504px;
	width: 32.40185546875px;
	height: 470.01708984375px;
}
.Doaes_Doaes .Group75 .antdesigneditoutlined {
	position: absolute;
	left: 0.12548828125px;
	top: 0.0087890625px;
	width: 32.14990234375px;
	height: 32px;
}
.Doaes_Doaes .Group75 .antdesigneditoutlined .Vector_20 {
	position: absolute;
	left: 3.5166015625px;
	top: 3.5px;
	width: 78.12371854259375%;
	height: 78.125%;
}
.Doaes_Doaes .Group75 .antdesigneditoutlined_1 {
	position: absolute;
	left: 0.12548828125px;
	top: 0.0087890625px;
	width: 32.14990234375px;
	height: 32px;
}
.Doaes_Doaes .Group75 .antdesigneditoutlined_1 .Vector_21 {
	position: absolute;
	left: 3.5166015625px;
	top: 3.5px;
	width: 78.12371854259375%;
	height: 78.125%;
}
.Doaes_Doaes .Group75 .antdesigneditoutlined_2 {
	position: absolute;
	left: 0.12548828125px;
	top: 92.0087890625px;
	width: 32.14990234375px;
	height: 32px;
}
.Doaes_Doaes .Group75 .antdesigneditoutlined_2 .Vector_22 {
	position: absolute;
	left: 3.5166015625px;
	top: 3.5px;
	width: 78.12371854259375%;
	height: 78.125%;
}
.Doaes_Doaes .Group75 .antdesigneditoutlined_3 {
	position: absolute;
	left: 0.12548828125px;
	top: 0.0087890625px;
	width: 32.14990234375px;
	height: 32px;
}
.Doaes_Doaes .Group75 .antdesigneditoutlined_3 .Vector_23 {
	position: absolute;
	left: 3.5166015625px;
	top: 3.5px;
	width: 78.12371854259375%;
	height: 78.125%;
}
.Doaes_Doaes .Group75 .antdesigneditoutlined_4 {
	position: absolute;
	left: 0.1259765625px;
	top: 173.0087890625px;
	width: 32.14990234375px;
	height: 32px;
}
.Doaes_Doaes .Group75 .antdesigneditoutlined_4 .Vector_24 {
	position: absolute;
	left: 3.5166015625px;
	top: 3.5px;
	width: 78.12371854259375%;
	height: 78.125%;
}
.Doaes_Doaes .Group75 .antdesigneditoutlined_5 {
	position: absolute;
	left: 0.1259765625px;
	top: 173.0087890625px;
	width: 32.14990234375px;
	height: 32px;
}
.Doaes_Doaes .Group75 .antdesigneditoutlined_5 .Vector_25 {
	position: absolute;
	left: 3.5166015625px;
	top: 3.5px;
	width: 78.12371854259375%;
	height: 78.125%;
}
.Doaes_Doaes .Group75 .antdesigneditoutlined_6 {
	position: absolute;
	left: 0.1259765625px;
	top: 265.0087890625px;
	width: 32.14990234375px;
	height: 32px;
}
.Doaes_Doaes .Group75 .antdesigneditoutlined_6 .Vector_26 {
	position: absolute;
	left: 3.5166015625px;
	top: 3.5px;
	width: 78.12371854259375%;
	height: 78.125%;
}
.Doaes_Doaes .Group75 .antdesigneditoutlined_7 {
	position: absolute;
	left: 0.1259765625px;
	top: 173.0087890625px;
	width: 32.14990234375px;
	height: 32px;
}
.Doaes_Doaes .Group75 .antdesigneditoutlined_7 .Vector_27 {
	position: absolute;
	left: 3.5166015625px;
	top: 3.5px;
	width: 78.12371854259375%;
	height: 78.125%;
}
.Doaes_Doaes .Group75 .antdesigneditoutlined_8 {
	position: absolute;
	left: 0.1259765625px;
	top: 346.0087890625px;
	width: 32.14990234375px;
	height: 32px;
}
.Doaes_Doaes .Group75 .antdesigneditoutlined_8 .Vector_28 {
	position: absolute;
	left: 3.5166015625px;
	top: 3.5px;
	width: 78.12371854259375%;
	height: 78.125%;
}
.Doaes_Doaes .Group75 .antdesigneditoutlined_9 {
	position: absolute;
	left: 0.1259765625px;
	top: 346.0087890625px;
	width: 32.14990234375px;
	height: 32px;
}
.Doaes_Doaes .Group75 .antdesigneditoutlined_9 .Vector_29 {
	position: absolute;
	left: 3.5166015625px;
	top: 3.5px;
	width: 78.12371854259375%;
	height: 78.125%;
}
.Doaes_Doaes .Group75 .antdesigneditoutlined_10 {
	position: absolute;
	left: 0.12646484375px;
	top: 438.0087890625px;
	width: 32.14990234375px;
	height: 32px;
}
.Doaes_Doaes .Group75 .antdesigneditoutlined_10 .Vector_30 {
	position: absolute;
	left: 3.5166015625px;
	top: 3.5px;
	width: 78.12371854259375%;
	height: 78.125%;
}
.Doaes_Doaes .Group75 .antdesigneditoutlined_11 {
	position: absolute;
	left: 0.1259765625px;
	top: 346.0087890625px;
	width: 32.14990234375px;
	height: 32px;
}
.Doaes_Doaes .Group75 .antdesigneditoutlined_11 .Vector_31 {
	position: absolute;
	left: 3.5166015625px;
	top: 3.5px;
	width: 78.12371854259375%;
	height: 78.125%;
}
.Doaes_Doaes .dashiconsinfo {
	position: absolute;
	left: 1171.7490234375px;
	top: 501px;
	width: 32.14990234375px;
	height: 32px;
}
.Doaes_Doaes .dashiconsinfo .Vector_32 {
	position: absolute;
	left: 3.21484375px;
	top: 3.2001953125px;
	width: 79.99939249426666%;
	height: 80.00030517578125%;
}
.Doaes_Doaes .dashiconsinfo_1 {
	position: absolute;
	left: 1171.7490234375px;
	top: 593px;
	width: 32.14990234375px;
	height: 32px;
}
.Doaes_Doaes .dashiconsinfo_1 .Vector_33 {
	position: absolute;
	left: 3.21484375px;
	top: 3.2001953125px;
	width: 79.99939249426666%;
	height: 80.00030517578125%;
}
.Doaes_Doaes .dashiconsinfo_2 {
	position: absolute;
	left: 1171.74951171875px;
	top: 682px;
	width: 32.14990234375px;
	height: 32px;
}
.Doaes_Doaes .dashiconsinfo_2 .Vector_34 {
	position: absolute;
	left: 3.21484375px;
	top: 3.2001953125px;
	width: 79.99939249426666%;
	height: 80.00030517578125%;
}
.Doaes_Doaes .dashiconsinfo_3 {
	position: absolute;
	left: 1171.75px;
	top: 769px;
	width: 32.14990234375px;
	height: 32px;
}
.Doaes_Doaes .dashiconsinfo_3 .Vector_35 {
	position: absolute;
	left: 3.21484375px;
	top: 3.2001953125px;
	width: 79.99939249426666%;
	height: 80.00030517578125%;
}
.Doaes_Doaes .dashiconsinfo_4 {
	position: absolute;
	left: 1171.75px;
	top: 847px;
	width: 32.14990234375px;
	height: 32px;
}
.Doaes_Doaes .dashiconsinfo_4 .Vector_36 {
	position: absolute;
	left: 3.21484375px;
	top: 3.2001953125px;
	width: 79.99939249426666%;
	height: 80.00030517578125%;
}
.Doaes_Doaes .dashiconsinfo_5 {
	position: absolute;
	left: 1171.74951171875px;
	top: 942px;
	width: 32.14990234375px;
	height: 32px;
}
.Doaes_Doaes .dashiconsinfo_5 .Vector_37 {
	position: absolute;
	left: 3.21484375px;
	top: 3.2001953125px;
	width: 79.99939249426666%;
	height: 80.00030517578125%;
}
.Doaes_Doaes .carbonnextfilled {
	position: absolute;
	left: 56.734375px;
	top: 1078.17578125px;
	width: 64.29931640625px;
	height: 64px;
}
.Doaes_Doaes .carbonnextfilled .Group_4 {
	position: absolute;
	left: 4.01904296875px;
	top: 4px;
	width: 87.499715229525%;
	height: 87.5%;
}
.Doaes_Doaes .carbonnextfilled .Group_4 .Vector_38 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Doaes_Doaes .carbonnextfilled_1 {
	position: absolute;
	left: 139.11767578125px;
	top: 1078.17578125px;
	width: 64.29931640625px;
	height: 64px;
}
.Doaes_Doaes .carbonnextfilled_1 .Vector_39 {
	position: absolute;
	left: 4.0185546875px;
	top: 4px;
	width: 87.499715229525%;
	height: 87.5%;
}
.Doaes_Doaes ._1de4 {
	position: absolute;
	left: 255.65966796875px;
	top: 1093.17529296875px;
	width: 78.36474609375px;
	height: 34px;
	color : rgba(0,0,0,1);
	font-family: Roboto;
	font-size: 28.84081268310547px;
	font-weight: 300;
	line-height: 33.797828674316406px;
}
.Doaes_Doaes .Grid {
	position: absolute;
	left: 126.17236328125px;
	top: 409.19384765625px;
	width: 1009px;
	height: 635px;
	display: flex;
	box-sizing: border-box;
	border-radius: 43.2612190246582px;
}
.Doaes_Doaes .linha {
	position: absolute;
	left: -6.56103515625px;
	top: 175.177001953125px;
	width: 1446.8017578125px;
	height: 31px;
}
.Doaes_Doaes .linha .Rectangle24 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1446.8017578125px;
	height: 31px;
	background : rgba(159.0000057220459,159.0000057220459,173.00000488758087,1);
}
.Doaes_Doaes .linha .Rectangle25 {
	position: absolute;
	left: 0px;
	top: 16px;
	width: 1446.8017578125px;
	height: 15px;
	background : rgba(129.00000751018524,228.0000016093254,218.00000220537186,1);
}
.Doaes_Doaes .Voluntrios {
	position: absolute;
	left: 453.57958984375px;
	top: 88.17626953125px;
	width: 314.4736328125px;
	height: 38.08447265625px;
	color : rgba(0,0,0,1);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.Doaes_Doaes .Configuraes {
	position: absolute;
	left: 920.58203125px;
	top: 88px;
	width: 287.34765625px;
	height: 39.445068359375px;
	color : rgba(0,0,0,1);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.Doaes_Doaes .SAIR {
	position: absolute;
	left: 1139.9052734375px;
	top: 87.307861328125px;
	width: 215.0107421875px;
	height: 38.057861328125px;
	color : rgba(0,0,0,1);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.Doaes_Doaes .Doaes_1 {
	position: absolute;
	left: 255.65869140625px;
	top: 88.176025390625px;
	width: 314.4736328125px;
	height: 38.08447265625px;
	color : rgba(136.00000709295273,229.00000154972076,220.00000208616257,1);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.Doaes_Doaes .Vector_40 {
	position: absolute;
	left: 174.107421875px;
	top: 78.388671875px;
	width: 3.450419108072917%;
	height: 3.7266467997630794%;
}
.Doaes_Doaes .Doaes_2 {
	position: absolute;
	left: 121.0322265625px;
	top: 88.17578125px;
	width: 314.4736328125px;
	height: 38.08447265625px;
	color : rgba(0,0,0,1);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.Doaes_Doaes .Doaes_3 {
	position: absolute;
	left: 163.056640625px;
	top: 288px;
	width: 131.62060546875px;
	height: 35.039794921875px;
	color : rgba(0,0,34.00000177323818,1);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.Doaes_Doaes .Vector_41 {
	position: absolute;
	left: 51.53759765625px;
	top: 269.579345703125px;
	width: 5.215081108940972%;
	height: 5.751414532287322%;
}
.Doaes_Doaes .ButtonActive {
	position: absolute;
	left: 360.9775390625px;
	top: 263px;
	width: 174.83251953125px;
	height: 80.037109375px;
}
.Doaes_Doaes .ButtonActive .p10h40 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background : rgba(129.00000751018524,228.0000016093254,218.00000220537186,1);
	border-radius: 4px;
}
.Doaes_Doaes .ButtonActive .AddCustomer {
	position: absolute;
	left: 40.005859375px;
	top: 24.01220703125px;
	width: 127.00732421875px;
	height: 30.038330078125px;
	color : rgba(255,255,255,1);
	mix-blend-mode: normal;
	font-family: Baumans;
	font-size: 25px;
	font-weight: 400;
	line-height: 29.296875px;
}
.Doaes_Doaes .ButtonActive .IconButton {
	position: absolute;
	left: 10.0068359375px;
	top: 30.0029296875px;
	width: 20.0048828125px;
	height: 20.006103515625px;
}
.Doaes_Doaes .ButtonActive .IconButton .IconButton_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Doaes_Doaes .SearchBar {
	position: absolute;
	left: 705.3017578125px;
	top: 263px;
	width: 430.013671875px;
	height: 80.1240234375px;
}
.Doaes_Doaes .SearchBar .Rectangle21 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background : rgba(218.00000220537186,225.00000178813934,236.00000113248825,1);
	mix-blend-mode: normal;
	border-radius: 4px;
}
.Doaes_Doaes .SearchBar .Group74 {
	position: absolute;
	left: 14.33837890625px;
	top: 20.0029296875px;
	width: 45.9697638610691%;
	height: 49.99360122856412%;
}
.Doaes_Doaes .SearchBar .Group74 .Search {
	position: absolute;
	left: 25.66796875px;
	top: 4.00927734375px;
	width: 172.00732421875px;
	height: 30.052001953125px;
	color : rgba(46.000001057982445,59.00000028312206,82.00000271201134,1);
	border: 1px solid rgba(0,0,0,1);
	font-family: Inter;
	font-size: 25px;
	font-weight: 400;
	line-height: 29.296875px;
}
.Doaes_Doaes .SearchBar .Group74 .ShapeSearch {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 14.506435860004299%;
	height: 99.87200819147574%;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.Doaes_Doaes .SearchBar .Group74 .ShapeSearch .ShapeSearch_1 {
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Doaes_Doaes .SearchBar .IconInput {
	visibility: hidden;
	position: absolute;
	left: 10.0068359375px;
	top: 30.0029296875px;
	width: 20.0048828125px;
	height: 20.006103515625px;
}
.Doaes_Doaes .SearchBar .IconInput .IconButton_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Doaes_Doaes .Vector_42 {
	position: absolute;
	left: 1149px;
	top: 274px;
	width: 3.4722222222222223%;
	height: 4.507352015636113%;
}
.Doaes_Doaes .Rectangle27 {
	position: absolute;
	left: -7px;
	top: 1216px;
	width: 1447px;
	height: 50px;
	background : rgba(4.000000236555934,8.000000473111868,15.000000055879354,1);
}
.Doaes_Doaes .Beneficirios {
	position: absolute;
	left: 685.65966796875px;
	top: 88.1767578125px;
	width: 314.4736328125px;
	height: 38.08447265625px;
	color : rgba(1.0000000591389835,30.00000011175871,37.00000159442425,1);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}