
.EditarVoluntrio_EditarVoluntrio {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 1246px;
	background : rgba(255,255,255,1);
}
.EditarVoluntrio_EditarVoluntrio .EDITARVOLUNTRIO {
	position: absolute;
	left: 65px;
	top: 264px;
	width: 272px;
	height: 35px;
	color : rgba(0,0,34.00000177323818,1);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.EditarVoluntrio_EditarVoluntrio .Tipodeveculo {
	position: absolute;
	left: 868px;
	top: 558px;
	width: 308px;
	height: 49px;
	color : rgba(0,0,34.00000177323818,1);
	border: 1px solid rgba(0,0,0,1);
	font-family: Bubbler One;
	font-size: 48px;
	font-weight: 400;
	line-height: 56.25px;
}
.EditarVoluntrio_EditarVoluntrio .Carro {
	position: absolute;
	left: 949px;
	top: 637px;
	width: 78px;
	height: 37px;
	color : rgba(0,0,0,1);
	font-family: Bubbler One;
	font-size: 36px;
	font-weight: 400;
	line-height: 42.1875px;
}
.EditarVoluntrio_EditarVoluntrio .MotoBicicleta {
	position: absolute;
	left: 902px;
	top: 694px;
	width: 293px;
	height: 37px;
	color : rgba(0,0,0,1);
	font-family: Bubbler One;
	font-size: 36px;
	font-weight: 400;
	line-height: 42.1875px;
}
.EditarVoluntrio_EditarVoluntrio .Outros {
	position: absolute;
	left: 943px;
	top: 747px;
	width: 97px;
	height: 37px;
	color : rgba(0,0,0,1);
	font-family: Bubbler One;
	font-size: 36px;
	font-weight: 400;
	line-height: 42.1875px;
}
.EditarVoluntrio_EditarVoluntrio .Rectangle23 {
	position: absolute;
	left: 0px;
	top: 1196px;
	width: 1440px;
	height: 50px;
	background : rgba(4.000000236555934,8.000000473111868,15.000000055879354,1);
}
.EditarVoluntrio_EditarVoluntrio .btncadastrodoao {
	position: absolute;
	left: 597px;
	top: 1057px;
	width: 286px;
	height: 61px;
}
.EditarVoluntrio_EditarVoluntrio .btncadastrodoao .Rectangle15 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 286px;
	height: 61px;
	background : rgba(71.00000336766243,229.00000154972076,188.0000039935112,1);
	border-radius: 8px;
}
.EditarVoluntrio_EditarVoluntrio .btncadastrodoao .Frame3 {
	position: absolute;
	left: 98px;
	top: 7px;
	width: 90px;
	height: 47px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.EditarVoluntrio_EditarVoluntrio .btncadastrodoao .Frame3 .Salvar {
	position: relative;
	margin-right: 10px;
	width: 70px;
	height: 27px;
	color : rgba(255,255,255,1);
	border: 1px solid rgba(255,255,255,1);
	font-family: Baumans;
	font-size: 24px;
	font-weight: 400;
	line-height: 27.167999267578125px;
}
.EditarVoluntrio_EditarVoluntrio .Rectangle16 {
	position: absolute;
	left: 65px;
	top: 398px;
	width: 610px;
	height: 39px;
}
.EditarVoluntrio_EditarVoluntrio .Nome {
	position: absolute;
	left: 65px;
	top: 348px;
	width: 255px;
	height: 51px;
	color : rgba(0,0,0,0.8600000143051147);
	font-family: Bubbler One;
	font-size: 36px;
	font-weight: 400;
	line-height: 40.75199890136719px;
}
.EditarVoluntrio_EditarVoluntrio .Rectangle24 {
	position: absolute;
	left: 65px;
	top: 533px;
	width: 610px;
	height: 39px;
}
.EditarVoluntrio_EditarVoluntrio .DocumentoCPFCNPJ {
	position: absolute;
	left: 65px;
	top: 489px;
	width: 395px;
	height: 51px;
	color : rgba(0,0,0,0.8600000143051147);
	font-family: Bubbler One;
	font-size: 36px;
	font-weight: 400;
	line-height: 40.75199890136719px;
}
.EditarVoluntrio_EditarVoluntrio .Rectangle26 {
	position: absolute;
	left: 65px;
	top: 803px;
	width: 610px;
	height: 39px;
}
.EditarVoluntrio_EditarVoluntrio .Telefone {
	position: absolute;
	left: 65px;
	top: 759px;
	width: 129px;
	height: 51px;
	color : rgba(0,0,0,0.8600000143051147);
	font-family: Bubbler One;
	font-size: 36px;
	font-weight: 400;
	line-height: 40.75199890136719px;
}
.EditarVoluntrio_EditarVoluntrio .Rectangle25 {
	position: absolute;
	left: 65px;
	top: 663px;
	width: 610px;
	height: 39px;
}
.EditarVoluntrio_EditarVoluntrio .Endereo {
	position: absolute;
	left: 65px;
	top: 624px;
	width: 255px;
	height: 51px;
	color : rgba(0,0,0,0.8600000143051147);
	font-family: Bubbler One;
	font-size: 36px;
	font-weight: 400;
	line-height: 40.75199890136719px;
}
.EditarVoluntrio_EditarVoluntrio .check_box {
	position: absolute;
	left: 880px;
	top: 638px;
	width: 42px;
	height: 35px;
}
.EditarVoluntrio_EditarVoluntrio .check_box .Vector {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.EditarVoluntrio_EditarVoluntrio .check_box .Vector_1 {
	position: absolute;
	left: 5.25px;
	top: 4.375px;
	width: 75%;
	height: 75%;
}
.EditarVoluntrio_EditarVoluntrio .check_box_1 {
	position: absolute;
	left: 880px;
	top: 638px;
	width: 42px;
	height: 35px;
}
.EditarVoluntrio_EditarVoluntrio .check_box_1 .Vector_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.EditarVoluntrio_EditarVoluntrio .check_box_1 .Vector_3 {
	position: absolute;
	left: 5.25px;
	top: 4.375px;
	width: 75%;
	height: 75%;
}
.EditarVoluntrio_EditarVoluntrio .check_box_2 {
	position: absolute;
	left: 880px;
	top: 696px;
	width: 42px;
	height: 35px;
}
.EditarVoluntrio_EditarVoluntrio .check_box_2 .Vector_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.EditarVoluntrio_EditarVoluntrio .check_box_2 .Vector_5 {
	position: absolute;
	left: 5.25px;
	top: 4.375px;
	width: 75%;
	height: 75%;
}
.EditarVoluntrio_EditarVoluntrio .check_box_3 {
	position: absolute;
	left: 880px;
	top: 638px;
	width: 42px;
	height: 35px;
}
.EditarVoluntrio_EditarVoluntrio .check_box_3 .Vector_6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.EditarVoluntrio_EditarVoluntrio .check_box_3 .Vector_7 {
	position: absolute;
	left: 5.25px;
	top: 4.375px;
	width: 75%;
	height: 75%;
}
.EditarVoluntrio_EditarVoluntrio .check_box_4 {
	position: absolute;
	left: 880px;
	top: 638px;
	width: 42px;
	height: 35px;
}
.EditarVoluntrio_EditarVoluntrio .check_box_4 .Vector_8 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.EditarVoluntrio_EditarVoluntrio .check_box_4 .Vector_9 {
	position: absolute;
	left: 5.25px;
	top: 4.375px;
	width: 75%;
	height: 75%;
}
.EditarVoluntrio_EditarVoluntrio .check_box_5 {
	position: absolute;
	left: 880px;
	top: 696px;
	width: 42px;
	height: 35px;
}
.EditarVoluntrio_EditarVoluntrio .check_box_5 .Vector_10 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.EditarVoluntrio_EditarVoluntrio .check_box_5 .Vector_11 {
	position: absolute;
	left: 5.25px;
	top: 4.375px;
	width: 75%;
	height: 75%;
}
.EditarVoluntrio_EditarVoluntrio .check_box_6 {
	position: absolute;
	left: 880px;
	top: 747px;
	width: 42px;
	height: 35px;
}
.EditarVoluntrio_EditarVoluntrio .check_box_6 .Vector_12 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.EditarVoluntrio_EditarVoluntrio .check_box_6 .Vector_13 {
	position: absolute;
	left: 5.25px;
	top: 4.375px;
	width: 75%;
	height: 75%;
}
.EditarVoluntrio_EditarVoluntrio .Possotransportar {
	position: absolute;
	left: 869px;
	top: 819px;
	width: 379px;
	height: 49px;
	color : rgba(0,0,34.00000177323818,1);
	border: 1px solid rgba(0,0,0,1);
	font-family: Bubbler One;
	font-size: 48px;
	font-weight: 400;
	line-height: 56.25px;
}
.EditarVoluntrio_EditarVoluntrio .Roupa {
	position: absolute;
	left: 943px;
	top: 887px;
	width: 87px;
	height: 36px;
	color : rgba(0,0,0,1);
	font-family: Bubbler One;
	font-size: 36px;
	font-weight: 400;
	line-height: 42.1875px;
}
.EditarVoluntrio_EditarVoluntrio .Alimento {
	position: absolute;
	left: 943px;
	top: 945px;
	width: 124px;
	height: 37px;
	color : rgba(0,0,0,1);
	font-family: Bubbler One;
	font-size: 36px;
	font-weight: 400;
	line-height: 42.1875px;
}
.EditarVoluntrio_EditarVoluntrio .Vector_14 {
	position: absolute;
	left: 987px;
	top: 1043px;
	width: 1.4583333333333333%;
	height: 1.1235955056179776%;
}
.EditarVoluntrio_EditarVoluntrio .check_box_7 {
	position: absolute;
	left: 877px;
	top: 945px;
	width: 43px;
	height: 35px;
}
.EditarVoluntrio_EditarVoluntrio .check_box_7 .Vector_15 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.EditarVoluntrio_EditarVoluntrio .check_box_7 .Vector_16 {
	position: absolute;
	left: 5.375px;
	top: 4.375px;
	width: 75%;
	height: 75%;
}
.EditarVoluntrio_EditarVoluntrio .Juntos3 {
	position: absolute;
	left: 0.117431640625px;
	top: 0px;
	width: 14.485388861762152%;
	height: 14.370712843599517%;
	object-fit: cover;
	overflow: hidden;
}
.EditarVoluntrio_EditarVoluntrio .linha {
	position: absolute;
	left: 0px;
	top: 186.18017578125px;
	width: 1440.2099609375px;
	height: 31.00244140625px;
}
.EditarVoluntrio_EditarVoluntrio .linha .Rectangle24_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440.2099609375px;
	height: 31.00244140625px;
	background : rgba(159.0000057220459,159.0000057220459,173.00000488758087,1);
}
.EditarVoluntrio_EditarVoluntrio .linha .Rectangle25_1 {
	position: absolute;
	left: 0px;
	top: 16px;
	width: 1440.2099609375px;
	height: 15.00244140625px;
	background : rgba(129.00000751018524,228.0000016093254,218.00000220537186,1);
}
.EditarVoluntrio_EditarVoluntrio .Voluntrios {
	position: absolute;
	left: 458px;
	top: 88.17626953125px;
	width: 313.009765625px;
	height: 38.08447265625px;
	color : rgba(0,0,0,1);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.EditarVoluntrio_EditarVoluntrio .Beneficirios {
	position: absolute;
	left: 688.99951171875px;
	top: 88.1767578125px;
	width: 313.01025390625px;
	height: 38.08447265625px;
	color : rgba(0,0,0,1);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.EditarVoluntrio_EditarVoluntrio .Configuraes {
	position: absolute;
	left: 920.99951171875px;
	top: 88.17724609375px;
	width: 286.01025390625px;
	height: 38.0771484375px;
	color : rgba(0,0,0,1);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.EditarVoluntrio_EditarVoluntrio .SAIR {
	position: absolute;
	left: 1141.13134765625px;
	top: 87.3076171875px;
	width: 214.01025390625px;
	height: 38.0576171875px;
	color : rgba(0,0,0,1);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.EditarVoluntrio_EditarVoluntrio .Doaes {
	position: absolute;
	left: 261px;
	top: 88.17578125px;
	width: 313.009765625px;
	height: 38.08447265625px;
	color : rgba(0,0,0,1);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.EditarVoluntrio_EditarVoluntrio .Vector_17 {
	position: absolute;
	left: 179.828369140625px;
	top: 78.388671875px;
	width: 3.4343804253472223%;
	height: 3.7822986682383624%;
}
.EditarVoluntrio_EditarVoluntrio .Doaes_1 {
	position: absolute;
	left: 127px;
	top: 88.17578125px;
	width: 313.010009765625px;
	height: 38.08447265625px;
	color : rgba(0,0,0,1);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.EditarVoluntrio_EditarVoluntrio .PessoaFsica {
	position: absolute;
	left: 128px;
	top: 1011px;
	width: 223px;
	height: 51px;
	color : rgba(0,0,0,0.8600000143051147);
	font-family: Bubbler One;
	font-size: 36px;
	font-weight: 400;
	line-height: 40.75199890136719px;
}
.EditarVoluntrio_EditarVoluntrio .PessoaJurdica {
	position: absolute;
	left: 128px;
	top: 1082px;
	width: 256px;
	height: 51px;
	color : rgba(0,0,0,0.8600000143051147);
	font-family: Bubbler One;
	font-size: 36px;
	font-weight: 400;
	line-height: 40.75199890136719px;
}
.EditarVoluntrio_EditarVoluntrio .check_box_8 {
	position: absolute;
	left: 65px;
	top: 1011px;
	width: 40px;
	height: 40px;
}
.EditarVoluntrio_EditarVoluntrio .check_box_8 .Vector_18 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.EditarVoluntrio_EditarVoluntrio .check_box_8 .Vector_19 {
	position: absolute;
	left: 5px;
	top: 5px;
	width: 75%;
	height: 75%;
}
.EditarVoluntrio_EditarVoluntrio .Vector_20 {
	position: absolute;
	left: 65px;
	top: 1082px;
	width: 2.7777777777777777%;
	height: 3.210272873194221%;
}
.EditarVoluntrio_EditarVoluntrio .InserirFoto {
	position: absolute;
	left: 881px;
	top: 469px;
	width: 255px;
	height: 51px;
	color : rgba(0,0,0,0.8600000143051147);
	font-family: Bubbler One;
	font-size: 36px;
	font-weight: 400;
	line-height: 40.75199890136719px;
}
.EditarVoluntrio_EditarVoluntrio .ictwotonephotocamerafront {
	position: absolute;
	left: 850px;
	top: 228px;
	width: 273px;
	height: 259px;
}
.EditarVoluntrio_EditarVoluntrio .ictwotonephotocamerafront .Vector_21 {
	position: absolute;
	left: 45.5px;
	top: 53.95849609375px;
	width: 66.66666666666666%;
	height: 58.33339617519305%;
}
.EditarVoluntrio_EditarVoluntrio .ictwotonephotocamerafront .Vector_22 {
	position: absolute;
	left: 22.75px;
	top: 32.375px;
	width: 83.33333333333334%;
	height: 75%;
}
.EditarVoluntrio_EditarVoluntrio .ictwotonephotocamerafront .Vector_23 {
	position: absolute;
	left: 198.88671875px;
	top: 259px;
	width: 20.962110805860807%;
	height: 17.56756756756757%;
}
.EditarVoluntrio_EditarVoluntrio .ictwotonephotocamerafront .image2 {
	position: absolute;
	left: 23px;
	top: -22px;
	width: 91.94139194139194%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}
.EditarVoluntrio_EditarVoluntrio .Vector_24 {
	position: absolute;
	left: 1075px;
	top: 463px;
	width: 4.259270562065972%;
	height: 4.49438202247191%;
}
.EditarVoluntrio_EditarVoluntrio .AnaMaria {
	position: absolute;
	left: 71px;
	top: 405px;
	width: 253px;
	height: 30px;
	color : rgba(0,0,0,1);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.EditarVoluntrio_EditarVoluntrio ._12345678900 {
	position: absolute;
	left: 40px;
	top: 540px;
	width: 253px;
	height: 30px;
	color : rgba(0,0,0,1);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.EditarVoluntrio_EditarVoluntrio .RPalmeiras26VlOliveiraSoPaulo {
	position: absolute;
	left: 71px;
	top: 669px;
	width: 610px;
	height: 25px;
	color : rgba(0,0,0,1);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.EditarVoluntrio_EditarVoluntrio ._11987541155 {
	position: absolute;
	left: 71px;
	top: 807px;
	width: 590px;
	height: 25px;
	color : rgba(0,0,0,1);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.EditarVoluntrio_EditarVoluntrio .Rectangle27 {
	position: absolute;
	left: 65px;
	top: 938px;
	width: 610px;
	height: 39px;
}
.EditarVoluntrio_EditarVoluntrio .DatadeNascimento {
	position: absolute;
	left: 65px;
	top: 894px;
	width: 317px;
	height: 51px;
	color : rgba(0,0,0,0.8600000143051147);
	font-family: Bubbler One;
	font-size: 36px;
	font-weight: 400;
	line-height: 40.75199890136719px;
}
.EditarVoluntrio_EditarVoluntrio ._13101967 {
	position: absolute;
	left: 75px;
	top: 943px;
	width: 590px;
	height: 25px;
	color : rgba(0,0,0,1);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.EditarVoluntrio_EditarVoluntrio .Vector_25 {
	position: absolute;
	left: 879px;
	top: 887px;
	width: 2.7777777777777777%;
	height: 3.210272873194221%;
}