
.HomePublic_HomePublic {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 4939px;
	background : rgba(255,255,255,1);
}
.HomePublic_HomePublic .icbaselinelogin {
	position: absolute;
	left: 1201px;
	top: 28px;
	width: 64px;
	height: 64px;
}
.HomePublic_HomePublic .icbaselinelogin .Vector {
	position: absolute;
	left: 5.33331298828125px;
	top: 8px;
	width: 83.33330154418945%;
	height: 75%;
}
.HomePublic_HomePublic .devOpsconceitoparaqueservevantagensimplementacao1 {
	position: absolute;
	left: 0px;
	top: 117px;
	width: 1312px;
	height: 828px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 1px;
}
.HomePublic_HomePublic .pexelsjuliamcameron69948321 {
	position: absolute;
	left: -3px;
	top: 4068px;
	width: 276px;
	height: 425px;
	object-fit: cover;
	overflow: hidden;
	border: 1px solid rgba(229.00000154972076,232.00000137090683,182.00000435113907,1);
	box-sizing: border-box;
}
.HomePublic_HomePublic .Rectangle6 {
	position: absolute;
	left: 108px;
	top: 1322px;
	width: 1079px;
	height: 545px;
	background : rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.07999999821186066);
	border-radius: 4px;
}
.HomePublic_HomePublic .CxCalmisetasinfantil {
	position: absolute;
	left: 202px;
	top: 1532px;
	width: 191px;
	height: 29px;
	color : rgba(0,0,0,1);
	font-family: Cabin Condensed;
	font-size: 24px;
	font-weight: 400;
	line-height: 28.125px;
}
.HomePublic_HomePublic .CxCalmisetasadulto {
	position: absolute;
	left: 203px;
	top: 1576px;
	width: 186px;
	height: 29px;
	color : rgba(0,0,0,1);
	font-family: Cabin Condensed;
	font-size: 24px;
	font-weight: 400;
	line-height: 28.125px;
}
.HomePublic_HomePublic .CxTnisjuvenil {
	position: absolute;
	left: 204px;
	top: 1627px;
	width: 136px;
	height: 29px;
	color : rgba(0,0,0,1);
	font-family: Cabin Condensed;
	font-size: 24px;
	font-weight: 400;
	line-height: 28.125px;
}
.HomePublic_HomePublic .CxCalaJeans {
	position: absolute;
	left: 204px;
	top: 1491px;
	width: 127px;
	height: 29px;
	color : rgba(0,0,0,1);
	font-family: Cabin Condensed;
	font-size: 24px;
	font-weight: 400;
	line-height: 28.125px;
}
.HomePublic_HomePublic ._20cestasbsicas {
	position: absolute;
	left: 568px;
	top: 1491px;
	width: 154px;
	height: 29px;
	color : rgba(0,0,0,1);
	font-family: Cabin Condensed;
	font-size: 24px;
	font-weight: 400;
	line-height: 28.125px;
}
.HomePublic_HomePublic ._50kgarrozbranco {
	position: absolute;
	left: 562px;
	top: 1536px;
	width: 166px;
	height: 29px;
	color : rgba(0,0,0,1);
	font-family: Cabin Condensed;
	font-size: 24px;
	font-weight: 400;
	line-height: 28.125px;
}
.HomePublic_HomePublic ._3cestasbsicas {
	position: absolute;
	left: 576px;
	top: 1579px;
	width: 139px;
	height: 29px;
	color : rgba(0,0,0,1);
	font-family: Cabin Condensed;
	font-size: 24px;
	font-weight: 400;
	line-height: 28.125px;
}
.HomePublic_HomePublic ._ {
	position: absolute;
	left: 640px;
	top: 1629px;
	width: 9px;
	height: 29px;
	color : rgba(0,0,0,1);
	font-family: Cabin Condensed;
	font-size: 24px;
	font-weight: 400;
	line-height: 28.125px;
}
.HomePublic_HomePublic .VilaOliveiraZNSP {
	position: absolute;
	left: 910px;
	top: 1491px;
	width: 188px;
	height: 29px;
	color : rgba(0,0,0,1);
	font-family: Cabin Condensed;
	font-size: 24px;
	font-weight: 400;
	line-height: 28.125px;
}
.HomePublic_HomePublic .JabaquaraZSSP {
	position: absolute;
	left: 923px;
	top: 1541px;
	width: 162px;
	height: 29px;
	color : rgba(0,0,0,1);
	font-family: Cabin Condensed;
	font-size: 24px;
	font-weight: 400;
	line-height: 28.125px;
}
.HomePublic_HomePublic .PiritubaZOSP {
	position: absolute;
	left: 926px;
	top: 1584px;
	width: 156px;
	height: 29px;
	color : rgba(0,0,0,1);
	font-family: Cabin Condensed;
	font-size: 24px;
	font-weight: 400;
	line-height: 28.125px;
}
.HomePublic_HomePublic .BelaVistaCentroSP {
	position: absolute;
	left: 905px;
	top: 1629px;
	width: 199px;
	height: 29px;
	color : rgba(0,0,0,1);
	font-family: Cabin Condensed;
	font-size: 24px;
	font-weight: 400;
	line-height: 28.125px;
}
.HomePublic_HomePublic .DoaesDisponveis {
	position: absolute;
	left: 425px;
	top: 1077px;
	width: 532px;
	height: 68px;
	color : rgba(0,0,34.00000177323818,0.7799999713897705);
	font-family: Cagliostro;
	font-size: 50px;
	font-weight: 400;
	line-height: 58.59375px;
}
.HomePublic_HomePublic .Line1 {
	position: absolute;
	left: 534px;
	top: 1189px;
	width: 297px;
	height: 1px;
}
.HomePublic_HomePublic .Vesturio {
	position: absolute;
	left: 146px;
	top: 1433px;
	width: 288px;
	height: 39px;
	color : rgba(0,0,0,1);
	font-family: Cabin Condensed;
	font-size: 24px;
	font-weight: 400;
	line-height: 28.125px;
}
.HomePublic_HomePublic .Alimentao {
	position: absolute;
	left: 534px;
	top: 1434px;
	width: 239px;
	height: 72px;
	color : rgba(0,0,0,1);
	font-family: Cabin Condensed;
	font-size: 24px;
	font-weight: 400;
	line-height: 28.125px;
}
.HomePublic_HomePublic .Bairrodedestino {
	position: absolute;
	left: 852px;
	top: 1436px;
	width: 335px;
	height: 72px;
	color : rgba(0,0,0,1);
	font-family: Cabin Condensed;
	font-size: 24px;
	font-weight: 400;
	line-height: 28.125px;
}
.HomePublic_HomePublic .Rectangle2 {
	position: absolute;
	left: 0px;
	top: 2411px;
	width: 1336px;
	height: 43px;
	background : rgba(71.00000336766243,229.00000154972076,188.0000039935112,1);
}
.HomePublic_HomePublic .Rectangle13 {
	position: absolute;
	left: -26px;
	top: 3257px;
	width: 1336px;
	height: 43px;
	background : rgba(159.0000057220459,159.0000057220459,173.00000488758087,1);
}
.HomePublic_HomePublic .Rectangle12 {
	position: absolute;
	left: -3px;
	top: 945px;
	width: 1315px;
	height: 43px;
	background : rgba(129.00000751018524,228.0000016093254,218.00000220537186,1);
}
.HomePublic_HomePublic .prato1 {
	position: absolute;
	left: 616px;
	top: 1346px;
	width: 83px;
	height: 75px;
	object-fit: cover;
	overflow: hidden;
}
.HomePublic_HomePublic .vestuario1 {
	position: absolute;
	left: 252px;
	top: 1336px;
	width: 89px;
	height: 85px;
	object-fit: cover;
	overflow: hidden;
}
.HomePublic_HomePublic .mapa1 {
	position: absolute;
	left: 978px;
	top: 1355px;
	width: 73px;
	height: 66px;
	object-fit: cover;
	overflow: hidden;
}
.HomePublic_HomePublic .Line3 {
	position: absolute;
	left: 189px;
	top: 1523px;
	width: 937.9999389648438px;
	height: 1.9620361328125px;
	border: 1px solid rgba(147.00000643730164,116.00000068545341,138.00000697374344,1);
}
.HomePublic_HomePublic .Line8 {
	position: absolute;
	left: 189.5px;
	top: 1468.6715698242188px;
	width: 937.9999389648438px;
	height: 3.6568603515625px;
}
.HomePublic_HomePublic .Line4 {
	position: absolute;
	left: 189px;
	top: 1569px;
	width: 938.0003051757812px;
	height: 2.916015625px;
	border: 1px solid rgba(147.00000643730164,116.00000068545341,138.00000697374344,1);
}
.HomePublic_HomePublic .Line5 {
	position: absolute;
	left: 189px;
	top: 1616px;
	width: 937.9999389648438px;
	height: 3px;
	border: 1px solid rgba(147.00000643730164,116.00000068545341,138.00000697374344,1);
}
.HomePublic_HomePublic .Line6 {
	position: absolute;
	left: 189px;
	top: 1667px;
	width: 937.9994506835938px;
	height: 1px;
	border: 1px solid rgba(147.00000643730164,116.00000068545341,138.00000697374344,1);
}
.HomePublic_HomePublic .Line7 {
	position: absolute;
	left: 189px;
	top: 1716px;
	width: 938px;
	height: 0px;
	border: 1px solid rgba(147.00000643730164,116.00000068545341,138.00000697374344,1);
}
.HomePublic_HomePublic .Line11 {
	position: absolute;
	left: 189px;
	top: 1767px;
	width: 938px;
	height: 0px;
	border: 1px solid rgba(147.00000643730164,116.00000068545341,138.00000697374344,1);
}
.HomePublic_HomePublic .Line12 {
	position: absolute;
	left: 189px;
	top: 1820px;
	width: 938px;
	height: 0px;
	border: 1px solid rgba(147.00000643730164,116.00000068545341,138.00000697374344,1);
}
.HomePublic_HomePublic .Line9 {
	position: absolute;
	left: 464px;
	top: 1403px;
	width: 2.02886962890625px;
	height: 444px;
	border: 2px solid rgba(147.00000643730164,116.00000068545341,138.00000697374344,1);
}
.HomePublic_HomePublic .Line10 {
	position: absolute;
	left: 835px;
	top: 1403px;
	width: 1.02886962890625px;
	height: 444px;
	border: 2px solid rgba(147.00000643730164,116.00000068545341,138.00000697374344,1);
}
.HomePublic_HomePublic .Rectangle8 {
	position: absolute;
	left: 1220px;
	top: 1336px;
	width: 27px;
	height: 504px;
	background : rgba(255,255,255,0.7099999785423279);
	border-radius: 3px;
}
.HomePublic_HomePublic .Rectangle7 {
	position: absolute;
	left: 1223px;
	top: 1408px;
	width: 18px;
	height: 230px;
	background : rgba(196.00000351667404,196.00000351667404,196.00000351667404,1);
}
.HomePublic_HomePublic .Polygon3 {
	position: absolute;
	left: 1217px;
	top: 1378px;
	width: 30px;
	height: 24px;
	background : rgba(196.00000351667404,196.00000351667404,196.00000351667404,1);
}
.HomePublic_HomePublic .Polygon2 {
	position: absolute;
	left: 1217px;
	top: 1800px;
	width: 30px;
	height: 24px;
	background : rgba(196.00000351667404,196.00000351667404,196.00000351667404,1);
}
.HomePublic_HomePublic .Rectangle9 {
	position: absolute;
	left: 133px;
	top: 2624px;
	width: 205px;
	height: 202px;
	background : rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.28999999165534973);
	border-radius: 3px;
	border: 13px solid rgba(174.00000482797623,207.00000286102295,223.00000190734863,1);
}
.HomePublic_HomePublic .Rectangle14 {
	position: absolute;
	left: 900px;
	top: 2624px;
	width: 205px;
	height: 202px;
	background : rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.28999999165534973);
	border-radius: 3px;
	border: 13px solid rgba(174.00000482797623,207.00000286102295,223.00000190734863,1);
}
.HomePublic_HomePublic .Rectangle10 {
	position: absolute;
	left: 506px;
	top: 2624px;
	width: 213px;
	height: 202px;
	background : rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.23000000417232513);
	border-radius: 3px;
	border: 13px solid rgba(159.0000057220459,159.0000057220459,173.00000488758087,1);
}
.HomePublic_HomePublic ._1 {
	position: absolute;
	left: 133px;
	top: 2527px;
	width: 47px;
	height: 84px;
	color : rgba(0,0,0,1);
	font-family: Bubbler One;
	font-size: 64px;
	font-weight: 400;
	line-height: 75px;
}
.HomePublic_HomePublic ._2 {
	position: absolute;
	left: 526px;
	top: 2527px;
	width: 72px;
	height: 84px;
	color : rgba(0,0,0,1);
	font-family: Bubbler One;
	font-size: 64px;
	font-weight: 400;
	line-height: 75px;
}
.HomePublic_HomePublic ._3 {
	position: absolute;
	left: 900px;
	top: 2527px;
	width: 63px;
	height: 84px;
	color : rgba(0,0,0,1);
	font-family: Bubbler One;
	font-size: 64px;
	font-weight: 400;
	line-height: 75px;
}
.HomePublic_HomePublic .ManuelAlmeida {
	position: absolute;
	left: 105px;
	top: 2857px;
	width: 258px;
	height: 46px;
	color : rgba(0,0,0,1);
	font-family: Cagliostro;
	font-size: 24px;
	font-weight: 400;
	line-height: 28.125px;
}
.HomePublic_HomePublic .LucasSouza {
	position: absolute;
	left: 515px;
	top: 2857px;
	width: 195px;
	height: 48px;
	color : rgba(0,0,0,1);
	font-family: Cagliostro;
	font-size: 24px;
	font-weight: 400;
	line-height: 28.125px;
}
.HomePublic_HomePublic .LucianaDias {
	position: absolute;
	left: 892px;
	top: 2856px;
	width: 189px;
	height: 34px;
	color : rgba(0,0,0,1);
	font-family: Cagliostro;
	font-size: 24px;
	font-weight: 400;
	line-height: 28.125px;
}
.HomePublic_HomePublic .banner1 {
	position: absolute;
	left: -3px;
	top: 2070px;
	width: 1313px;
	height: 341px;
	object-fit: cover;
	overflow: hidden;
}
.HomePublic_HomePublic .grupoquemsomos {
	position: absolute;
	left: 78px;
	top: 3210px;
	width: 1202px;
	height: 1233px;
}
.HomePublic_HomePublic .grupoquemsomos .divbackgroud {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1202px;
	height: 1233px;
	background : rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.15000000596046448);
}
.HomePublic_HomePublic .grupoquemsomos .LoremipsumdolorsitametQuoquisvoluptatemsedconsequaturofficiisutcorporisrerumetaccusantiumanimiquiquisquamsequiquialiquamdoloremQuiaspernaturerrorinmollitialiberosedperspiciatisquamquoexplicaboametEtcorporisvoluptassedinventoreconsequatureumaspernaturcumqueesterrorlaboriosametmolestiasnequesednobisquasiautharumtotamEumrepellendusearumutvoluptatenequeestquamquosquiconsequunturomnisvelpraesentiumaliquidutnecessitatibusgalisumetvoluptate {
	position: absolute;
	left: 324px;
	top: 227px;
	width: 815px;
	height: 820px;
	color : rgba(4.000000236555934,8.000000473111868,15.000000055879354,1);
	font-family: Bubbler One;
	font-size: 48px;
	font-weight: 400;
	line-height: 56.25px;
}
.HomePublic_HomePublic .pexelspixabay458421 {
	position: absolute;
	left: -3px;
	top: 3014px;
	width: 1313px;
	height: 243px;
	object-fit: cover;
	overflow: hidden;
	mix-blend-mode: darken;
}
.HomePublic_HomePublic .Quemsomos {
	position: absolute;
	left: 368px;
	top: 3014px;
	width: 680px;
	height: 196px;
	color : rgba(255,255,255,1);
	font-family: Amatica SC;
	font-size: 144px;
	font-weight: 700;
	line-height: 168.75px;
}
.HomePublic_HomePublic .Ranking {
	position: absolute;
	left: 416px;
	top: 2104px;
	width: 548px;
	height: 210px;
	color : rgba(255,255,255,1);
	font-family: Amatica SC;
	font-size: 144px;
	font-weight: 400;
	line-height: 168.75px;
}
.HomePublic_HomePublic .pexelsjuliamcameron69949631 {
	position: absolute;
	left: 0px;
	top: 3630px;
	width: 352px;
	height: 458px;
	object-fit: cover;
	overflow: hidden;
	border: 2px solid rgba(229.00000154972076,232.00000137090683,182.00000435113907,1);
	box-sizing: border-box;
}
.HomePublic_HomePublic .divrodap {
	position: absolute;
	left: 0px;
	top: 4569px;
	width: 1310px;
	height: 370px;
}
.HomePublic_HomePublic .divrodap .rodap {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1310px;
	height: 370px;
	background : rgba(159.0000057220459,159.0000057220459,173.00000488758087,1);
}
.HomePublic_HomePublic .divrodap .Rectangle1 {
	position: absolute;
	left: 0px;
	top: 326.958984375px;
	width: 1310px;
	height: 43.041015625px;
	background : rgba(4.000000236555934,8.000000473111868,15.000000055879354,1);
}
.HomePublic_HomePublic .divrodap .Copyright2022 {
	position: absolute;
	left: 603px;
	top: 336.775390625px;
	width: 282.9236145019531px;
	height: 33.05029296875px;
	color : rgba(255,255,255,1);
	font-family: Bubbler One;
	font-size: 24px;
	font-weight: 400;
	line-height: 28.125px;
}
.HomePublic_HomePublic .divrodap .Social {
	position: absolute;
	left: 994.326416015625px;
	top: 31.4375px;
	width: 221.97222900390625px;
	height: 116.0791015625px;
}
.HomePublic_HomePublic .divrodap .Social .socialmidia1 {
	position: absolute;
	left: 153.7430419921875px;
	top: 44.3359375px;
	width: 68.22918701171875px;
	height: 71.7431640625px;
	object-fit: cover;
	overflow: hidden;
}
.HomePublic_HomePublic .divrodap .Social .socialmidia21 {
	position: absolute;
	left: 80.0555419921875px;
	top: 54.0087890625px;
	width: 73.6875px;
	height: 62.06982421875px;
	object-fit: cover;
	overflow: hidden;
}
.HomePublic_HomePublic .divrodap .Social .socialmidia31 {
	position: absolute;
	left: 0px;
	top: 57.2333984375px;
	width: 82.78472900390625px;
	height: 58.84521484375px;
	object-fit: cover;
	overflow: hidden;
}
.HomePublic_HomePublic .divrodap .Social .Siganos {
	position: absolute;
	left: 27.2916259765625px;
	top: 0px;
	width: 180.125px;
	height: 44.33544921875px;
	color : rgba(255,255,255,1);
	font-family: Cabin Condensed;
	font-size: 36px;
	font-weight: 700;
	line-height: 42.1875px;
}
.HomePublic_HomePublic .divrodap .RuaManuelVeira1090CEP034577220SoPauloSP1121894450informacoesjuntoscombr {
	position: absolute;
	left: 54px;
	top: 85.32666015625px;
	width: 596px;
	height: 182.73486328125px;
	color : rgba(255,255,255,1);
	font-family: Cabin Condensed;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.125px;
}
.HomePublic_HomePublic .Resultadosdasaessociais {
	position: absolute;
	left: 116px;
	top: 263px;
	width: 1131px;
	height: 300px;
	color : rgba(255,255,255,1);
	font-family: Amatica SC;
	font-size: 100px;
	font-weight: 700;
	line-height: 117.1875px;
}
.HomePublic_HomePublic ._200Familiabeneficiadas {
	position: absolute;
	left: 836px;
	top: 706px;
	width: 289px;
	height: 228px;
	color : rgba(255,255,255,1);
	font-family: Amatica SC;
	font-size: 96px;
	font-weight: 700;
	line-height: 112.5px;
}
.HomePublic_HomePublic ._400vvDoaesrealizadas {
	position: absolute;
	left: 522px;
	top: 563px;
	width: 278px;
	height: 219px;
	color : rgba(255,255,255,1);
	font-family: Amatica SC;
	font-size: 96px;
	font-weight: 700;
	line-height: 112.5px;
}
.HomePublic_HomePublic ._100Voluntriosmobilizadosemprojetossociais {
	position: absolute;
	left: 146px;
	top: 667px;
	width: 329px;
	height: 262px;
	color : rgba(255,255,255,1);
	font-family: Amatica SC;
	font-size: 96px;
	font-weight: 700;
	line-height: 112.5px;
}
.HomePublic_HomePublic .Juntos4 {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 10.732028174946326%;
	height: 2.328803245295733%;
	object-fit: cover;
	overflow: hidden;
}
.HomePublic_HomePublic .Group77 {
	position: absolute;
	left: 195px;
	top: 41px;
	width: 935.0100708007812px;
	height: 38.08447265625px;
}
.HomePublic_HomePublic .Group77 .RANKING {
	position: absolute;
	left: 376px;
	top: 0px;
	width: 313.010009765625px;
	height: 37.7938232421875px;
	color : rgba(0,0,0,1);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.HomePublic_HomePublic .Group77 .QUEMSOMOS {
	position: absolute;
	left: 622.0000305175781px;
	top: 0px;
	width: 313.0101013183594px;
	height: 38.08447265625px;
	color : rgba(0,0,0,1);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.HomePublic_HomePublic .Group77 .Doaes {
	position: absolute;
	left: 154.00001525878906px;
	top: 0px;
	width: 313.0101013183594px;
	height: 38.08447265625px;
	color : rgba(0,0,0,1);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.HomePublic_HomePublic .Group77 .Doaes_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 202.92657470703125px;
	height: 38.054779052734375px;
	color : rgba(0,0,0,1);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.HomePublic_HomePublic .Vector_1 {
	position: absolute;
	left: 146px;
	top: 32px;
	width: 3.775194473848998%;
	height: 0.9541856202308793%;
}
.HomePublic_HomePublic .Login {
	position: absolute;
	left: 1089px;
	top: 41px;
	width: 142px;
	height: 38px;
	color : rgba(0,0,0,1);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.HomePublic_HomePublic .image31 {
	position: absolute;
	left: 901px;
	top: 2624px;
	width: 204px;
	height: 202px;
	object-fit: cover;
	overflow: hidden;
}
.HomePublic_HomePublic .image41 {
	position: absolute;
	left: 133px;
	top: 2624px;
	width: 205px;
	height: 202px;
	object-fit: cover;
	overflow: hidden;
}
.HomePublic_HomePublic .image11 {
	position: absolute;
	left: 506px;
	top: 2624px;
	width: 213px;
	height: 202px;
	object-fit: cover;
	overflow: hidden;
}