
.icbaselinelogin_icbaselinelogin {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 64px;
	mix-blend-mode: normal;
}
.icbaselinelogin_icbaselinelogin .Vector {
	position: absolute;
	left: 5.333251953125px;
	top: 8px;
	width: 83.33320617675781%;
	height: 75%;
}