
.Incioestatistica_Incioestatistica {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 1264.6005859375px;
	background : rgba(255,255,255,1);
}
.Incioestatistica_Incioestatistica .Group78 {
	position: absolute;
	left: 220px;
	top: 262px;
	width: 1014px;
	height: 145px;
}
.Incioestatistica_Incioestatistica .Group78 .Vector {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1014px;
	height: 145px;
}
.Incioestatistica_Incioestatistica .iconparkrankinglist {
	position: absolute;
	left: 204px;
	top: 262px;
	width: 64.01708984375px;
	height: 64.017333984375px;
}
.Incioestatistica_Incioestatistica .iconparkrankinglist .Group {
	position: absolute;
	left: 5px;
	top: 11px;
	width: 83.32888404127927%;
	height: 66.67124306389795%;
}
.Incioestatistica_Incioestatistica .iconparkrankinglist .Group .Vector_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Incioestatistica_Incioestatistica .iconparkrankinglist .Group .Vector_2 {
	position: absolute;
	left: 16.0029296875px;
	top: 12.00439453125px;
	width: 40.00091533180778%;
	height: 43.748498472732265%;
}
.Incioestatistica_Incioestatistica .Juntos1 {
	position: absolute;
	left: 0.28857421875px;
	top: 0px;
	width: 14.48539409485694%;
	height: 14.1593195418205%;
	object-fit: cover;
	overflow: hidden;
}
.Incioestatistica_Incioestatistica .Grid {
	position: absolute;
	left: 126.17236328125px;
	top: 409.19384765625px;
	width: 1009px;
	height: 635px;
	display: flex;
	box-sizing: border-box;
	border-radius: 43.2612190246582px;
}
.Incioestatistica_Incioestatistica .linha {
	position: absolute;
	left: 0.17138671875px;
	top: 175.177001953125px;
	width: 1440.0693359375px;
	height: 31px;
}
.Incioestatistica_Incioestatistica .linha .Rectangle24 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440.0693359375px;
	height: 31px;
	background : rgba(159.0000057220459,159.0000057220459,173.00000488758087,1);
}
.Incioestatistica_Incioestatistica .linha .Rectangle25 {
	position: absolute;
	left: 0px;
	top: 16px;
	width: 1440.06884765625px;
	height: 15px;
	background : rgba(129.00000751018524,228.0000016093254,218.00000220537186,1);
}
.Incioestatistica_Incioestatistica .Voluntrios {
	position: absolute;
	left: 458.1708984375px;
	top: 88.17626953125px;
	width: 313.01025390625px;
	height: 38.08447265625px;
	color : rgba(0,0,0,1);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.Incioestatistica_Incioestatistica .Configuraes {
	position: absolute;
	left: 923.00048828125px;
	top: 88px;
	width: 286.01025390625px;
	height: 39.445068359375px;
	color : rgba(0,0,0,1);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.Incioestatistica_Incioestatistica .SAIR {
	position: absolute;
	left: 1141.302734375px;
	top: 87.307861328125px;
	width: 214.01025390625px;
	height: 38.057861328125px;
	color : rgba(0,0,0,1);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.Incioestatistica_Incioestatistica .Doaes {
	position: absolute;
	left: 261.1708984375px;
	top: 88.176025390625px;
	width: 313.01025390625px;
	height: 38.08447265625px;
	color : rgba(0,0,0,1);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.Incioestatistica_Incioestatistica .Vector_3 {
	position: absolute;
	left: 180.04931640625px;
	top: 78.388671875px;
	width: 3.434378429098656%;
	height: 3.7266467997630794%;
}
.Incioestatistica_Incioestatistica .Doaes_1 {
	position: absolute;
	left: 127.1708984375px;
	top: 88.17578125px;
	width: 313.01025390625px;
	height: 38.08447265625px;
	color : rgba(71.00000336766243,229.00000154972076,188.0000039935112,1);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.Incioestatistica_Incioestatistica .Rectangle27 {
	position: absolute;
	left: 0px;
	top: 1216px;
	width: 1440px;
	height: 50px;
	background : rgba(4.000000236555934,8.000000473111868,15.000000055879354,1);
}
.Incioestatistica_Incioestatistica .Beneficirios {
	position: absolute;
	left: 689.1708984375px;
	top: 88.1767578125px;
	width: 313.01025390625px;
	height: 38.08447265625px;
	color : rgba(1.0000000591389835,30.00000011175871,37.00000159442425,1);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.Incioestatistica_Incioestatistica .Alltickets {
	position: absolute;
	left: 296px;
	top: 481px;
	width: 1039.99365234375px;
	height: 686px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketpriorityhigh {
	position: absolute;
	left: -12.59765625px;
	top: 82.845703125px;
	width: 1043px;
	height: 92px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketpriorityhigh .dividerlinehorizontal {
	position: absolute;
	left: 0px;
	top: 92px;
	width: 1043px;
	height: 0px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketpriorityhigh .dividerlinehorizontal .divider {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1043px;
	height: 0px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketpriorityhigh .dividerlinehorizontal_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1043px;
	height: 0px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketpriorityhigh .dividerlinehorizontal_1 .divider_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1043px;
	height: 0px;
}
.Incioestatistica_Incioestatistica .Alltickets .cardsdefault {
	position: absolute;
	left: 11.5078125px;
	top: 14.88671875px;
	width: 1045px;
	height: 617.30029296875px;
}
.Incioestatistica_Incioestatistica .Alltickets .cardsdefault .sheet {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1045px;
	height: 617px;
	background : rgba(255,255,255,1);
	border-radius: 8px;
	border: 1px solid rgba(223.00000190734863,224.000001847744,235.0000011920929,1);
	box-sizing: border-box;
}
.Incioestatistica_Incioestatistica .Alltickets .cardsdefault .Voluntrios_1 {
	position: absolute;
	left: 418.4921875px;
	top: 21.11328125px;
	width: 208.0537109375px;
	height: 35.322265625px;
	color : rgba(0,0,0,0.8600000143051147);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.Incioestatistica_Incioestatistica .Alltickets .cardsdefault .Doadores {
	position: absolute;
	left: 39.4921875px;
	top: 21.11328125px;
	width: 208px;
	height: 35px;
	color : rgba(0,0,0,0.8600000143051147);
	font-family: Baumans;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.Incioestatistica_Incioestatistica .Alltickets .cardsdefault .content {
	position: absolute;
	left: 32.13134765625px;
	top: 189.11474609375px;
	width: 981px;
	height: 44px;
}
.Incioestatistica_Incioestatistica .Alltickets .cardsdefault .content .iconmorevertical {
	position: absolute;
	left: 957px;
	top: 10px;
	width: 24px;
	height: 24px;
}
.Incioestatistica_Incioestatistica .Alltickets .cardsdefault .content .iconmorevertical .Vector_4 {
	position: absolute;
	left: 10px;
	top: 4px;
	width: 16.666666666666664%;
	height: 66.66666666666666%;
}
.Incioestatistica_Incioestatistica .Alltickets .cardsdefault .content .Ticketinformation {
	position: absolute;
	left: 68px;
	top: 26px;
	width: 295px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}
.Incioestatistica_Incioestatistica .Alltickets .cardsdefault .content .Ticketname {
	position: absolute;
	left: 68px;
	top: 2px;
	width: 295px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
}
.Incioestatistica_Incioestatistica .Alltickets .cardsdefault .content .avatarman5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 44px;
	height: 44px;
}
.Incioestatistica_Incioestatistica .Alltickets .cardsdefault .content .avatarman5 .Ellipse {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background : rgba(196.00000351667404,196.00000351667404,196.00000351667404,1);
}
.Incioestatistica_Incioestatistica .Alltickets .cardsdefault .content .avatarman5 .m5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 150%;
	object-fit: cover;
	overflow: hidden;
}
.Incioestatistica_Incioestatistica .Alltickets .cardsdefault .tableticketpriorityhigh_1 {
	position: absolute;
	left: 0.4921875px;
	top: 262.11328125px;
	width: 1042px;
	height: 92px;
}
.Incioestatistica_Incioestatistica .Alltickets .cardsdefault .tableticketpriorityhigh_1 .content_1 {
	position: absolute;
	left: 31px;
	top: 24px;
	width: 980px;
	height: 44px;
}
.Incioestatistica_Incioestatistica .Alltickets .cardsdefault .tableticketpriorityhigh_1 .content_1 .iconmorevertical_1 {
	position: absolute;
	left: 956px;
	top: 10px;
	width: 24px;
	height: 24px;
}
.Incioestatistica_Incioestatistica .Alltickets .cardsdefault .tableticketpriorityhigh_1 .content_1 .iconmorevertical_1 .Vector_5 {
	position: absolute;
	left: 10px;
	top: 4px;
	width: 16.666666666666664%;
	height: 66.66666666666666%;
}
.Incioestatistica_Incioestatistica .Alltickets .cardsdefault .tableticketpriorityhigh_1 .content_1 .Ticketinformation_1 {
	position: absolute;
	left: 68px;
	top: 26px;
	width: 294px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}
.Incioestatistica_Incioestatistica .Alltickets .cardsdefault .tableticketpriorityhigh_1 .content_1 .Ticketname_1 {
	position: absolute;
	left: 68px;
	top: 2px;
	width: 294px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
}
.Incioestatistica_Incioestatistica .Alltickets .cardsdefault .tableticketpriorityhigh_1 .content_1 .avatarwoman3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 44px;
	height: 44px;
}
.Incioestatistica_Incioestatistica .Alltickets .cardsdefault .tableticketpriorityhigh_1 .content_1 .avatarwoman3 .Ellipse_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background : rgba(196.00000351667404,196.00000351667404,196.00000351667404,1);
}
.Incioestatistica_Incioestatistica .Alltickets .cardsdefault .tableticketpriorityhigh_1 .content_1 .avatarwoman3 .w3 {
	position: absolute;
	left: -34.83349609375px;
	top: -33px;
	width: 250%;
	height: 370.83296342329544%;
	object-fit: cover;
	overflow: hidden;
}
.Incioestatistica_Incioestatistica .Alltickets .cardsdefault .tableticketpriorityhigh_1 .dividerlinehorizontal_2 {
	position: absolute;
	left: 0px;
	top: 92px;
	width: 1042px;
	height: 0px;
}
.Incioestatistica_Incioestatistica .Alltickets .cardsdefault .tableticketpriorityhigh_1 .dividerlinehorizontal_2 .divider_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1042px;
	height: 0px;
}
.Incioestatistica_Incioestatistica .Alltickets .cardsdefault .tableticketpriorityhigh_1 .dividerlinehorizontal_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1042px;
	height: 0px;
}
.Incioestatistica_Incioestatistica .Alltickets .cardsdefault .tableticketpriorityhigh_1 .dividerlinehorizontal_3 .divider_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1042px;
	height: 0px;
}
.Incioestatistica_Incioestatistica .Alltickets .cardsdefault .tableticketpriorityhigh_1 .Ticketname_2 {
	position: absolute;
	left: 393px;
	top: 24px;
	width: 294px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
}
.Incioestatistica_Incioestatistica .Alltickets .cardsdefault .Ticketname_3 {
	position: absolute;
	left: 395.4921875px;
	top: 189.11328125px;
	width: 294px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow {
	position: absolute;
	left: 14px;
	top: 93px;
	width: 1038px;
	height: 100px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow .content_2 {
	position: absolute;
	left: 31px;
	top: 28px;
	width: 976px;
	height: 44px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow .content_2 .iconmorevertical_2 {
	position: absolute;
	left: 952px;
	top: 10px;
	width: 24px;
	height: 24px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow .content_2 .iconmorevertical_2 .Vector_6 {
	position: absolute;
	left: 10px;
	top: 4px;
	width: 16.666666666666664%;
	height: 66.66666666666666%;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow .content_2 .Ticketinformation_2 {
	position: absolute;
	left: 68px;
	top: 26px;
	width: 290px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow .content_2 .Ticketname_4 {
	position: absolute;
	left: 68px;
	top: 2px;
	width: 290px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow .content_2 .Ticketname_5 {
	position: absolute;
	left: 358px;
	top: 0px;
	width: 290px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow .content_2 .avatarwoman5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 44px;
	height: 44px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow .content_2 .avatarwoman5 .Ellipse_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background : rgba(196.00000351667404,196.00000351667404,196.00000351667404,1);
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow .content_2 .avatarwoman5 .w5 {
	position: absolute;
	left: -5.5px;
	top: -1.8330078125px;
	width: 133.33296342329547%;
	height: 200%;
	object-fit: cover;
	overflow: hidden;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow .dividerlinehorizontal_4 {
	position: absolute;
	left: -0.1083984375px;
	top: 77.994140625px;
	width: 1038px;
	height: 0px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow .dividerlinehorizontal_4 .divider_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1038px;
	height: 0px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow .dividerlinehorizontal_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1038px;
	height: 0px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow .dividerlinehorizontal_5 .divider_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1038px;
	height: 0px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow_1 {
	position: absolute;
	left: 1px;
	top: 686px;
	width: 1038px;
	height: 92px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow_1 .content_3 {
	position: absolute;
	left: 31px;
	top: 24px;
	width: 976px;
	height: 44px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow_1 .content_3 .iconmorevertical_3 {
	position: absolute;
	left: 952px;
	top: 10px;
	width: 24px;
	height: 24px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow_1 .content_3 .iconmorevertical_3 .Vector_7 {
	position: absolute;
	left: 10px;
	top: 4px;
	width: 16.666666666666664%;
	height: 66.66666666666666%;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow_1 .content_3 .chipprioritylow {
	position: absolute;
	left: 826px;
	top: 10px;
	width: 52px;
	height: 24px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow_1 .content_3 .chipprioritylow .sheet_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 52px;
	height: 24px;
	background : rgba(254.00000005960464,196.00000351667404,0,1);
	border-radius: 100px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow_1 .content_3 .chipprioritylow .title {
	position: absolute;
	left: 12px;
	top: 5px;
	width: 28px;
	height: 14px;
	color : rgba(255,255,255,1);
	font-family: Mulish;
	font-size: 11px;
	font-weight: 700;
	line-height: 12.890625px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow_1 .content_3 .Timelabel {
	position: absolute;
	left: 646px;
	top: 26px;
	width: 140px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow_1 .content_3 .Datelabel {
	position: absolute;
	left: 646px;
	top: 2px;
	width: 140px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow_1 .content_3 .Datecustomer {
	position: absolute;
	left: 398px;
	top: 26px;
	width: 208px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow_1 .content_3 .Customername {
	position: absolute;
	left: 398px;
	top: 2px;
	width: 208px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow_1 .content_3 .Ticketinformation_3 {
	position: absolute;
	left: 68px;
	top: 26px;
	width: 290px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow_1 .content_3 .Ticketname_6 {
	position: absolute;
	left: 68px;
	top: 2px;
	width: 290px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow_1 .content_3 .avatarwoman6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 44px;
	height: 44px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow_1 .content_3 .avatarwoman6 .Ellipse_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background : rgba(196.00000351667404,196.00000351667404,196.00000351667404,1);
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow_1 .content_3 .avatarwoman6 .w6 {
	position: absolute;
	left: -5.5px;
	top: -5.5px;
	width: 129.16703657670453%;
	height: 170.83296342329547%;
	object-fit: cover;
	overflow: hidden;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow_1 .dividerlinehorizontal_6 {
	position: absolute;
	left: 0px;
	top: 92px;
	width: 1038px;
	height: 0px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow_1 .dividerlinehorizontal_6 .divider_6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1038px;
	height: 0px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow_1 .dividerlinehorizontal_7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1038px;
	height: 0px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritylow_1 .dividerlinehorizontal_7 .divider_7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1038px;
	height: 0px;
}
.Incioestatistica_Incioestatistica .Alltickets .table_bottom {
	position: absolute;
	left: 637px;
	top: 894px;
	width: 371px;
	height: 24px;
}
.Incioestatistica_Incioestatistica .Alltickets .table_bottom .rowsperpage {
	position: absolute;
	left: 0px;
	top: 3px;
	width: 139px;
	height: 18px;
}
.Incioestatistica_Incioestatistica .Alltickets .table_bottom .rowsperpage .Rowsperpage {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 106px;
	height: 18px;
	color : rgba(159.0000057220459,162.00000554323196,180.00000447034836,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Incioestatistica_Incioestatistica .Alltickets .table_bottom .rowsperpage ._8 {
	position: absolute;
	left: 114px;
	top: 0px;
	width: 10px;
	height: 18px;
	color : rgba(74.82306182384491,79.68022719025612,108.8232421875,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Incioestatistica_Incioestatistica .Alltickets .table_bottom .rowsperpage .icondropdown {
	position: absolute;
	left: 127px;
	top: 3px;
	width: 12px;
	height: 12px;
}
.Incioestatistica_Incioestatistica .Alltickets .table_bottom .rowsperpage .icondropdown .Vector_8 {
	position: absolute;
	left: 2.5146484375px;
	top: 4.5px;
	width: 6.96826171875px;
	height: 3.95263671875px;
}
.Incioestatistica_Incioestatistica .Alltickets .table_bottom .pagination {
	position: absolute;
	left: 187px;
	top: 0px;
	width: 184px;
	height: 24px;
}
.Incioestatistica_Incioestatistica .Alltickets .table_bottom .pagination ._18of1240 {
	position: absolute;
	left: 0px;
	top: 3px;
	width: 100px;
	height: 18px;
	color : rgba(159.0000057220459,162.00000554323196,180.00000447034836,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Incioestatistica_Incioestatistica .Alltickets .table_bottom .pagination .iconarrowleft {
	position: absolute;
	left: 124px;
	top: 0px;
	width: 24px;
	height: 24px;
}
.Incioestatistica_Incioestatistica .Alltickets .table_bottom .pagination .iconarrowleft .left {
	position: absolute;
	left: 9px;
	top: 6px;
	width: 25%;
	height: 50%;
}
.Incioestatistica_Incioestatistica .Alltickets .table_bottom .pagination .iconarrowright {
	position: absolute;
	left: 160px;
	top: 0px;
	width: 24px;
	height: 24px;
}
.Incioestatistica_Incioestatistica .Alltickets .table_bottom .pagination .iconarrowright .right {
	position: absolute;
	left: 9px;
	top: 6px;
	width: 25%;
	height: 50%;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal {
	position: absolute;
	left: 14.96240234375px;
	top: 366.88427734375px;
	width: 1038px;
	height: 92px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal .content_4 {
	position: absolute;
	left: 31px;
	top: 24px;
	width: 976px;
	height: 44px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal .content_4 .iconmorevertical_4 {
	position: absolute;
	left: 952px;
	top: 10px;
	width: 24px;
	height: 24px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal .content_4 .iconmorevertical_4 .Vector_9 {
	position: absolute;
	left: 10px;
	top: 4px;
	width: 16.666666666666664%;
	height: 66.66666666666666%;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal .content_4 .Ticketinformation_4 {
	position: absolute;
	left: 68px;
	top: 26px;
	width: 290px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal .content_4 .Ticketname_7 {
	position: absolute;
	left: 68px;
	top: 2px;
	width: 290px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal .content_4 .avatarman7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 44px;
	height: 44px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal .content_4 .avatarman7 .Ellipse_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background : rgba(196.00000351667404,196.00000351667404,196.00000351667404,1);
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal .content_4 .avatarman7 .m7 {
	position: absolute;
	left: -23.83349609375px;
	top: -5.5px;
	width: 216.66703657670453%;
	height: 291.66703657670456%;
	object-fit: cover;
	overflow: hidden;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal .dividerlinehorizontal_8 {
	position: absolute;
	left: 0px;
	top: 92px;
	width: 1038px;
	height: 0px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal .dividerlinehorizontal_8 .divider_8 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1038px;
	height: 0px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal .dividerlinehorizontal_9 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1038px;
	height: 0px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal .dividerlinehorizontal_9 .divider_9 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1038px;
	height: 0px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal .Ticketname_8 {
	position: absolute;
	left: 389.03759765625px;
	top: 24.11572265625px;
	width: 294px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal_1 {
	position: absolute;
	left: 1px;
	top: 778px;
	width: 1038px;
	height: 92px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal_1 .content_5 {
	position: absolute;
	left: 31px;
	top: 24px;
	width: 976px;
	height: 44px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal_1 .content_5 .iconmorevertical_5 {
	position: absolute;
	left: 952px;
	top: 10px;
	width: 24px;
	height: 24px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal_1 .content_5 .iconmorevertical_5 .Vector_10 {
	position: absolute;
	left: 10px;
	top: 4px;
	width: 16.666666666666664%;
	height: 66.66666666666666%;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal_1 .content_5 .chipprioritynormal {
	position: absolute;
	left: 826px;
	top: 10px;
	width: 76px;
	height: 24px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal_1 .content_5 .chipprioritynormal .sheet_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 76px;
	height: 24px;
	background : rgba(41.00000135600567,204.00000303983688,151.00000619888306,1);
	border-radius: 100px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal_1 .content_5 .chipprioritynormal .title_1 {
	position: absolute;
	left: 12px;
	top: 5px;
	width: 52px;
	height: 14px;
	color : rgba(255,255,255,1);
	font-family: Mulish;
	font-size: 11px;
	font-weight: 700;
	line-height: 12.890625px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal_1 .content_5 .Timelabel_1 {
	position: absolute;
	left: 646px;
	top: 26px;
	width: 140px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal_1 .content_5 .Datelabel_1 {
	position: absolute;
	left: 646px;
	top: 2px;
	width: 140px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal_1 .content_5 .Datecustomer_1 {
	position: absolute;
	left: 398px;
	top: 26px;
	width: 208px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal_1 .content_5 .Customername_1 {
	position: absolute;
	left: 398px;
	top: 2px;
	width: 208px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal_1 .content_5 .Ticketinformation_5 {
	position: absolute;
	left: 68px;
	top: 26px;
	width: 290px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal_1 .content_5 .Ticketname_9 {
	position: absolute;
	left: 68px;
	top: 2px;
	width: 290px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal_1 .content_5 .avatarwoman7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 44px;
	height: 44px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal_1 .content_5 .avatarwoman7 .Ellipse_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background : rgba(196.00000351667404,196.00000351667404,196.00000351667404,1);
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal_1 .content_5 .avatarwoman7 .w7 {
	position: absolute;
	left: -1.83349609375px;
	top: -3.6669921875px;
	width: 112.5%;
	height: 158.33296342329547%;
	object-fit: cover;
	overflow: hidden;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal_1 .dividerlinehorizontal_10 {
	position: absolute;
	left: 0px;
	top: 92px;
	width: 1038px;
	height: 0px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal_1 .dividerlinehorizontal_10 .divider_10 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1038px;
	height: 0px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal_1 .dividerlinehorizontal_11 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1038px;
	height: 0px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketprioritynormal_1 .dividerlinehorizontal_11 .divider_11 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1038px;
	height: 0px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketpriorityhighhover {
	position: absolute;
	left: 16.81689453125px;
	top: 460.88720703125px;
	width: 1038px;
	height: 92px;
	background : rgba(255,255,255,1);
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketpriorityhighhover .sheet_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1038px;
	height: 92px;
	background : rgba(55.00000052154064,81.00000277161598,255,1);
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketpriorityhighhover .iconcursorpointinghand {
	position: absolute;
	left: 405px;
	top: 40px;
	width: 16px;
	height: 16px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketpriorityhighhover .iconcursorpointinghand .Group_1 {
	position: absolute;
	left: 1px;
	top: 0.35009765625px;
	width: 14.30810546875px;
	height: 15.26806640625px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketpriorityhighhover .iconcursorpointinghand .Group_1 .Fill1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketpriorityhighhover .iconcursorpointinghand .Group_1 .Stroke3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketpriorityhighhover .iconcursorpointinghand .Group_1 .Stroke5 {
	position: absolute;
	left: 11.1279296875px;
	top: 8.7978515625px;
	width: 6.989045490222844%;
	height: 22.655025744347437%;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketpriorityhighhover .iconcursorpointinghand .Group_1 .Stroke7 {
	position: absolute;
	left: 9.09619140625px;
	top: 8.7958984375px;
	width: 6.989045490222844%;
	height: 22.747769356231412%;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketpriorityhighhover .iconcursorpointinghand .Group_1 .Stroke9 {
	position: absolute;
	left: 7.1162109375px;
	top: 8.8271484375px;
	width: 6.989045490222844%;
	height: 22.437557964757428%;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketpriorityhighhover .content_6 {
	position: absolute;
	left: 31px;
	top: 24px;
	width: 976px;
	height: 44px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketpriorityhighhover .content_6 .iconmorevertical_6 {
	position: absolute;
	left: 952px;
	top: 10px;
	width: 24px;
	height: 24px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketpriorityhighhover .content_6 .iconmorevertical_6 .Vector_11 {
	position: absolute;
	left: 10px;
	top: 4px;
	width: 16.666666666666664%;
	height: 66.66666666666666%;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketpriorityhighhover .content_6 .Ticketinformation_6 {
	position: absolute;
	left: 68px;
	top: 26px;
	width: 290px;
	height: 16px;
	color : rgba(197.0000034570694,199.0000033378601,205.00000298023224,1);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketpriorityhighhover .content_6 .Ticketname_10 {
	position: absolute;
	left: 68px;
	top: 2px;
	width: 290px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketpriorityhighhover .content_6 .avatarman6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 44px;
	height: 44px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketpriorityhighhover .content_6 .avatarman6 .Ellipse_6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background : rgba(196.00000351667404,196.00000351667404,196.00000351667404,1);
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketpriorityhighhover .content_6 .avatarman6 .m6 {
	position: absolute;
	left: -34.83349609375px;
	top: -11px;
	width: 262.5%;
	height: 254.16703657670453%;
	object-fit: cover;
	overflow: hidden;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketpriorityhighhover .dividerlinehorizontal_12 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1120px;
	height: 0px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketpriorityhighhover .dividerlinehorizontal_12 .divider_12 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1120px;
	height: 0px;
}
.Incioestatistica_Incioestatistica .Alltickets .tableticketpriorityhighhover .Ticketname_11 {
	position: absolute;
	left: 389.18310546875px;
	top: 26.11279296875px;
	width: 294px;
	height: 20px;
	color : rgba(37.00000159442425,39.00000147521496,51.00000075995922,1);
	font-family: Mulish;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
}
.Incioestatistica_Incioestatistica .iconparkranking {
	position: absolute;
	left: 205px;
	top: 432px;
	width: 64px;
	height: 64px;
}
.Incioestatistica_Incioestatistica .iconparkranking .Group_2 {
	position: absolute;
	left: 5.33349609375px;
	top: 8px;
	width: 81.25%;
	height: 75%;
}
.Incioestatistica_Incioestatistica .iconparkranking .Group_2 .Vector_12 {
	position: absolute;
	left: 0px;
	top: 16px;
	width: 33.33364633413461%;
	height: 66.66666666666666%;
}
.Incioestatistica_Incioestatistica .iconparkranking .Group_2 .Vector_13 {
	position: absolute;
	left: 17.33349609375px;
	top: 0px;
	width: 33.33364633413461%;
	height: 100%;
}
.Incioestatistica_Incioestatistica .iconparkranking .Group_2 .Vector_14 {
	position: absolute;
	left: 34.66650390625px;
	top: 26.66650390625px;
	width: 33.33364633413461%;
	height: 44.44478352864583%;
}
.Incioestatistica_Incioestatistica .Ranking {
	position: absolute;
	left: 255px;
	top: 440px;
	width: 222px;
	height: 59px;
	color : rgba(191.00000381469727,191.00000381469727,191.00000381469727,1);
	font-family: Baumans;
	font-size: 36px;
	font-weight: 400;
	line-height: 42.1875px;
}
.Incioestatistica_Incioestatistica .Veraltimadoaoassociada {
	position: absolute;
	left: 1238px;
	top: 686px;
	width: 170px;
	height: 78px;
}